<!-- dialog itself, mfp-hide class is required to make dialog hidden -->
#small-dialog.zoom-anim-dialog.mfp-hide
	h1
		|Dialog example
	p
		|This is dummy copy. It is not meant to be read. It has been placed here solely to demonstrate the look and feel of finished, typeset text. Only for show. He who searches for meaning here will be sorely disappointed
