.popups__modal
	.modal-block#assessment-modal
		.modal-overlay.close-modal
			.modal-layer
				.close-modal-btn.close-modal.close-btn
				.assessment__modal.modal
					.assessment__layout.modal-layout
						header.assessment__modal-header.modal-header
						section.assessment__modal-body.modal-body
						footer.assessment__modal-footer.modal-footer
							.social.assessment__social
								ul.social-list.assessment__social-list
									li.social-list-item.assessment__social-list-item
										a.social-link.assessment__social-link(href="#" target="_blank")
											i.assessment__social-ico.ico.s-facebook-ico.social-ico
									li.social-list-item.assessment__social-list-item
										a.social-link.assessment__social-link(href="#" target="_blank")
											i.assessment__social-ico.ico.s-linkedin-ico.social-ico
									li.social-list-item.assessment__social-list-item
										a.social-link.assessment__social-link(href="#" target="_blank")
											i.assessment__social-ico.ico.s-whatsapp-ico.social-ico
									li.social-list-item.assessment__social-list-item
										a.social-link.assessment__social-link(href="#" target="_blank")
											i.assessment__social-ico.ico.s-viber-ico.social-ico
									li.social-list-item.assessment__social-list-item
										a.social-link.assessment__social-link(href="#" target="_blank")
											i.assessment__social-ico.ico.s-telegram-ico.social-ico
									li.social-list-item.assessment__social-list-item
										a.social-link.assessment__social-link(href="#" target="_blank")
											i.assessment__social-ico.ico.s-pinterest-ico.social-ico
