
.contacts.fullpage-section.section.screen
	.contacts__layout.screen__layout.is-screen
		.center
			.f-container
				.contacts__address-layer
					h3.contacts__title
						|Контакти
					address.contacts__address
						a.contacts__email(href="mailto:djero@gmail.com")
							|djero@gmail.com 
						p.contacts__name
							|ФОП Пасічник С.С.
						p.contacts__location
							|Вінницька обл. Козятинський р-н. с. Махнівка вул. Шкільна, 57
				.contacts__question-layer
					h3.contacts__title
						|Виникли питання?
					p.contacts__action-call
						|Зателефонуйте нам!
					a.contacts__phone(href="tel:+380679312635")
						|+38 (067) 931 26 35
					ul.contacts__social-list.social-list
						li.contacts__social-list-item.social-list-item
							a.contacts__social-link.social-link(href="#" rel="")
								i.ico.contacts__social-ico.social-ico
									+svg2('call-2')
						li.contacts__social-list-item.social-list-item
							a.contacts__social-link.social-link(href="#" rel="")
								i.ico.contacts__social-ico.social-ico
									+svg2('tg')
					
					