
.contacts.fullpage-section.section.screen
	.contacts__layout.screen__layout.is-screen
		.center
			.f-container
				.contacts__address-layer
					h3.contacts__title
						|Контакти
					address.contacts__address
						a.contacts__email(href="mailto:djero.champ@gmail.com")
							|djero.champ@gmail.com
						p.contacts__name
							|ФОП Пасічник С.С.
						p.contacts__location
							|Вінницька обл. Козятинський р-н. с. Махнівка вул. Шкільна, 57
				.contacts__question-layer
					h3.contacts__title
						|Виникли питання?
					p.contacts__action-call
						|Зателефонуйте нам!
					a.contacts__phone(href="tel:+380674598191")
						|+38 (067) 459 81 91
					
					