footer.footer
	.footer__layout
			.footer__info-layer
				.center
					.footer__info
						nav.footer__menu-layer
							ul.footer__menu
								li.footer__menu-item
									a.footer__menu-item-link(href="#")
										|Потребность в достижениях
									a.footer__menu-item-link(href="#")
										|Темперамент
								li.footer__menu-item
									a.footer__menu-item-link(href="#")
										|Эмоциональный интеллект
									a.footer__menu-item-link(href="#")
										|САН
								li.footer__menu-item
									a.footer__menu-item-link(href="#")
										|Визуальные асоциации
									a.footer__menu-item-link(href="#")
										|Словесные асоциации
						.footer__social-layer
							.footer__social.social
								ul.footer__social-list.social-list
									li.footer__social-list-item.social-list-item
										a.footer__social-link.social-link(href="#" target="_blank")
											i.footer__social-ico.ico.s-facebook-footer.social-ico
									li.footer__social-list-item.social-list-item
										a.footer__social-link.social-link(href="#" target="_blank")
											i.footer__social-ico.ico.s-instagram-footer.social-ico
			.footer__copyright-layer
				.center
					p.footer__copyright
						|© Psychograde