header.header
	.header__layout
		.center
			.f-container
				.header__btn-layer.header-inner-layer
					a.header__btn.btn.white(href='#')
						span
							|Замовити дзвінок
				.header__logo-layer.header-inner-layer
					.header__logo-link-layer
						a.header__logo-link(href="#")
							img.header__logo(src="img/logo.svg" alt="Djero")
				.header__menu-layer.header-inner-layer
					nav.header__menu
						ul.header__menu-list
							li.header__menu-list-item 
								a.header__menu-link(href="#")
									|Як це працює? 
							li.header__menu-list-item 
								a.header__menu-link(href="#")
									|Розважайся з Djero! 