header.header
	.header__layout
		.center
			.f-container
				.header__btn-layer.header-inner-layer
					a.header__btn.btn.white.open-popup-link_secondary(href='#order-call-popup')
						span
							|Замовити дзвінок
				.header__logo-layer.header-inner-layer
					.header__logo-link-wrapper
						a.header__logo-link(href="#")
							svg&attributes({class: 'header__logo'})
								use(xlink:href=`img/logo.svg#Logo`)
				.header__menu-layer.header-inner-layer
					a.close-popup.close-popup-btn(href="#main-section")
						span
						span
					a.close-popup.close-popup_secondary.open-popup-link-second-branch(href="#second-branch-popup")
						span
						span
					nav.header__menu
						ul.header__menu-list
							li.header__menu-list-item 
								a.header__menu-link.menu-link(href="#" data-is-popup="false" data-to="screen-2" data-position="main")
									|Як це працює? 
							li.header__menu-list-item 
								a.header__menu-link.menu-link(href="#" data-is-popup="false" data-to="screen-5" data-position="main")
									|Розважайся з Djero! 