.main-screen.fullpage-section.section
	.main-screen__layout
		.main-screen__background-layer
			.main-screen__background
				video.main-screen__background-video(autoplay="true" loop muted preload="metadata")
					source(src="video/Djero-Main-Animation-2.mp4" type="video/mp4")
		.center
			.f-container