.popups
    .popups__layout
        include Popups/menu
        include Popups/play-and-order-popup
        include Popups/catalog-popup
        include Popups/cart-popup
        include Popups/order-popup
        include Popups/order-call-popup
        include Popups/call-me-popup
        include Popups/second-branch-popup
        include Popups/additional-info-popup
        include Popups/about-manufacturer-popup
        include Popups/about-toy-popup
        include Popups/about-cookie-popup
        