.popups
    .popups__layout
        include Popups/menu
        include Popups/play-and-order-popup
        include Popups/catalog-popup
        include Popups/cart-popup
        include Popups/order-popup
        include Popups/order-call-popup
        include Popups/call-me-popup
        