.screen-5.fullpage-section.section.screen
	.screen-5__layout.screen__layout.is-screen.screen-5-2__layout
		.screen-5__background-layer
			.screen-5__background
				img.screen-5__background-image(data-src="img/cookie-2.png", alt="")
				img.screen-5__background-image(data-src="img/cookie.png", alt="")
				img.screen-5__background-image(data-src="img/cookie-3.png", alt="")
		.center.screen-5__center
			//- .f-container
			.screen-5__slider-layer-main
				.screen-5__slider-wrapper-main
					#screen-5__slider-main.splide.screen-5__slider-main
						.splide__arrows.screen-5__slider-arrows
							.splide__arrow.splide__arrow--prev.screen-5__slider-arrow.screen-5__slider-arrow-prev
								+svg2('arrow')
							.splide__arrow.splide__arrow--next.screen-5__slider-arrow.screen-5__slider-arrow-next
								+svg2('arrow')
						.splide__track.screen-5__slider-track
							ul.splide__list.screen-5__slider-list
								li.splide__slide.screen-5__slider-slide.screen-video-layer
									.screen-play-video.screen-5__play-video
									img.screen-5__slider-img(src="img/slider/IMG_1150.jpg"  alt="Slide1")
									video.screen-5__video.screen-video(preload="metadata" muted controlsList="nodownload")
										source(data-src="video/entertain1.mp4" type="video/mp4")
								li.splide__slide.screen-5__slider-slide.screen-video-layer
									.screen-play-video.screen-5__play-video
									img.screen-5__slider-img(src="img/slider/IMG_8187.jpg"  alt="Slide2")
									video.screen-5__video.screen-video(preload="metadata" muted controlsList="nodownload")
										source(data-src="video/entertain2.mp4" type="video/mp4")
								li.splide__slide.screen-5__slider-slide.screen-video-layer
									.screen-play-video.screen-5__play-video
									img.screen-5__slider-img(src="img/slider/IMG_2757.jpg"  alt="Slide3")
									video.screen-5__video.screen-video(preload="metadata" muted controlsList="nodownload")
										source(data-src="video/entertain3.mp4" type="video/mp4")
			//- .screen-5__social-layer
			//- 	.screen-5__social-wrapper
			//- 		p.screen-5__social-text
			//- 			|Слідкуй за Djero в соцмережах!
			//- 		ul.screen-5__social-list.social-list 
			//- 			li.screen-5__social-list-item.social-list-item
			//- 				a.screen-5__social-link.social-link.inst-link(href="#" rel="")
			//- 					i.ico.screen-5__social-ico.social-ico
			//- 						+svg2('inst')
			//- 			li.screen-5__social-list-item.social-list-item
			//- 				a.screen-5__social-link.social-link.fb-link(href="#" rel="")
			//- 					i.ico.screen-5__social-ico.social-ico
			//- 						+svg2('fb')
//- include contacts
//- include footer
