.fullpage-section.section
	.screen-5.screen
		.screen-5__layout.screen__layout
			.center.screen-5__center
				h2.h2-title.screen-5__title
					|Розважайся разом із Djero!
				.screen-5__slider-layer-secondary
					#screen-5__slider-secondary.splide.screen-5__slider-secondary
						.splide__track.screen-5__slider-track
							ul.splide__list.screen-5__slider-list
								li.splide__slide.screen-5__slider-slide
									img.screen-5__slider-img(src="img/slider-photo1.png" alt="Slide1")
								li.splide__slide.screen-5__slider-slide
									img.screen-5__slider-img(src="img/slider-photo2.png" alt="Slide2")
								li.splide__slide.screen-5__slider-slide
									img.screen-5__slider-img(src="img/slider-photo3.png" alt="Slide3")
								li.splide__slide.screen-5__slider-slide
									img.screen-5__slider-img(src="img/slider-photo1.png" alt="Slide4")
				.screen-5__slider-layer-main
					#screen-5__slider-main.splide.screen-5__slider-main
						.splide__track.screen-5__slider-track
							ul.splide__list.screen-5__slider-list
								li.splide__slide.screen-5__slider-slide
									img(src="img/slider-photo1.png"  alt="Slide1")
								li.splide__slide.screen-5__slider-slide
									img(src="img/slider-photo2.png"  alt="Slide2")
								li.splide__slide.screen-5__slider-slide
									img(src="img/slider-photo3.png"  alt="Slide3")
								li.splide__slide.screen-5__slider-slide
									img(src="img/slider-photo1.png"  alt="Slide4")
				.screen-5__social-layer
	include contacts
	include contacts