.screen-2.fullpage-section.section.screen
	.screen-2__layout.screen__layout
		.center.screen-2__center
			h2.h2-title.screen-2__title
				|Як це працює?
			.f-container.screen-2__f-container.screen-f-container
				.screen-2__text-layer.screen-text-layer
					span.screen-2__text-counter.screen-text-counter
						|1
					p.screen-2__text.screen-text
						|Склади коробку у режим "баскетбол", підготуй та встанови корзину
				.screen-2__video-layer.screen-video-layer
					.screen-play-video.screen-2__play-video
					video.screen-2__video.screen-video(preload="metadata")
						source(data-src="video/make-box.mp4" type="video/mp4")