.screen-4.fullpage-section.section.screen
	.screen-4__layout.screen__layout.is-screen
		.screen-4__background-layer
			.screen-4__background
				img.screen-4__background-image(data-src="img/cookie-2.png", alt="")
				img.screen-4__background-image(data-src="img/cookie.png", alt="")
		.center.screen-4__center
			h2.h2-title.screen-4__title
				|Викидаєш упаковку від солодощів? Djero пропонує інше!
			.screen-4__steps-layer
				.screen-4__steps
					.screen-4__step
						span.screen-4__step-counter.screen-text-counter
							|1
						p.screen-4__step-text
							|Склав майданчик!
					.screen-4__step
						span.screen-4__step-counter.screen-text-counter
							|2
						p.screen-4__step-text
							|Розмалював м'яч!
					.screen-4__step
						span.screen-4__step-counter.screen-text-counter
							|3
						p.screen-4__step-text
							|Влучив у корзинку!
			.screen-4__images-layer
				h3.screen-4__images-text.subtitle
					|Отримуй нагороду - 
					span
						|фірмове печиво Djero!
				.screen-4__images
					.screen-4__image-wrapper
						img.screen-4__image(src="img/cookies-pack-2.png", alt="Cookie Pack")
					.screen-4__image-wrapper
						img.screen-4__image(src="img/cookies-pack.png", alt="Cookie Pack")
