aside.sidebar
	.sidebar__layout
		.sidebar__burger-layer
			a.sidebar__burger.open-popup-link-menu(href="#menu-popup")
				span 
				span 
				span 
		.sidebar__wantbuy-layer
			a.sidebar__wantbuy.open-popup-link(href="#catalog-popup")
				.sidebar__wantbuy-icon
					i.sidebar__wantbuy-ico.ico
						+svg2('ball')
				p.sidebar__wantbuy-text
					|Хочу 
					br
					span
						|придбати!
		.sidebar__cart-layer
			a.sidebar__cart.open-popup-link(href="#cart-popup")
				span.sidebar__cart-counter
				.sidebar__cart-icon
					i.sidebar__cart-ico.ico
						+svg2('basket')
				p.sidebar__cart-text
					span
						|Замовлення 
						br
						|з'явиться 
					|тут
		.sidebar__social-layer.social-layer
			.sidebar__social.social
				ul.sidebar__social-list.social-list 
					li.sidebar__social-list-item.social-list-item
						a.sidebar__social-link.social-link(href="#")
							i.ico.sidebar__social-ico.social-ico
								+svg2('inst')
					li.sidebar__social-list-item.social-list-item
						a.sidebar__social-link.social-link(href="#")
							i.ico.sidebar__social-ico.social-ico
								+svg2('fb')
					li.sidebar__social-list-item.social-list-item
						.sidebar__social-share.social-share
							i.ico.sidebar__social-ico.social-ico
								+svg2('share') 
							ul.sidebar__social-share-list
								li.sidebar__social-share-list-item
									a.sidebar__social-share-link(href="") 
										i.ico.sidebar__social-ico.social-ico
											+svg2('facebook') 
								//- li.sidebar__social-share-list-item
								//- 	a.sidebar__social-share-link(href="")
								//- 		i.ico.sidebar__social-ico.social-ico
								//- 			+svg2('google+')  
								li.sidebar__social-share-list-item
									a.sidebar__social-share-link(href="") 
										i.ico.sidebar__social-ico.social-ico
											+svg2('instagram') 
								//- li.sidebar__social-share-list-item
								//- 	a.sidebar__social-share-link(href="")
								//- 		i.ico.sidebar__social-ico.social-ico
								//- 			+svg2('pinterest') 
					li.sidebar__social-list-item.social-list-item
						a.sidebar__social-link.social-link(href="#") 
							i.ico.sidebar__social-ico.social-ico
								+svg2('call')
