aside.sidebar
	.sidebar__layout
		.center
			.sidebar__burger-layer 
			.sidebar__wantbuy-layer
			.sidebar__cart-layer
			.sidebar__social-layer
				.sidebar__social
					ul.sidebar__social-list 
						li.sidebar__social-list-item
							a.sidebar__social-link(href="#")
						li.sidebar__social-list-item
							a.sidebar__social-link(href="#") 
						li.sidebar__social-list-item
							a.sidebar__social-link(href="#") 
						li.sidebar__social-list-item
							a.sidebar__social-link(href="#") 
