.header__layout {
	position: fixed;
	background: @transparent;
	width: 100%;
	z-index: 99;

	.f-container {
		justify-content: space-between;
		padding: 12px 0;
	}

	.header-inner-layer {
		flex-basis: 33%;
	}

	.header__logo-link-layer {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.header__logo-link {
		display: inline-block;
	}

	.header__menu-list {
		display: flex;
	}

	.header__menu-link {
		transition: color 0.25s linear;

		&:hover {
			color: @red-orange;
		}
	}
}