@media screen and(max-width: 1200px) {
	.assotiation__layout {
		.assotiation__image-layer, .assotiation__description {
			height: auto;
		}

		.assotiation__type {
			padding-bottom: 5px;
		}
	}

	main {
		padding-top: 77px;
	}
	
}

@media screen and(max-width: 992px) {
	html {
		font-size: 16px;
	}

	.header__layout .header__menu-layer {
		padding: 0 90/1220 * 100%;
	}

	.center {
		padding: 0 25px;
	}

	.block {
		& > .center {
			padding: 25px;
		}
	}

	.sidebar {
		order: 0;
		flex-basis: 100%;
	}

	.main__layout {
		.main__content {
			flex-basis: 100%;
			margin-right: 0;
			order: 1;
		}

		.main__f-container {
			flex-wrap: wrap;
		}
	}

	.auth__layout .auth__form-layer {
		padding: 30px;
	}

	.modal {
		padding: 60px 45px;
		// border: 60px 45px solid @white;
		// border-width: 60px 45px;
	}

	.modal-layer {
		padding: 25px;
	}

	.modal-layer .close-modal {
		top: 40px;
		right: 40px;
	}

	.private__layout .private__form {
		flex-wrap: wrap;
	}

	.private__layout .private__form-group-layer.first {
		flex-basis: 100%;
		order: 1;
		padding-right: 0;
	}

	.private__layout .private__form-group-layer.second {
		flex-basis: 100%;
		order: 0;
		padding-left: 0;
		max-width: 360px;
		padding-bottom: 30px;
		margin: 0 auto;
	}

	.test-preview__trigger {
		flex-basis: 100%;
	}

	.test-preview__triggers-layer {
		flex-direction: column;
	}

	.test-preview__layout .test-preview__trigger:not(:last-child) {
		padding-right: 0;
		margin-bottom: 15px;
	}

	.test-adjectives__layer .center {
		padding-left: 10px;
		padding-right: 10px;
	}

	body .jc-bs3-container.container {
		padding: 25px;
	}

	.test-preview__layout .test-preview__trigger:not(:last-child) {
		margin-right: 0;
	}

	.test-preview__layout .test-preview__trigger {
		display: inline-flex;
	}

	.test-preview__layout .test-preview__trigger-text-layer {
		padding-right: 0;
	}

}

@media screen and(max-width: 768px) {
	html {
		font-size: 15px;
	}

	main {
		padding-top: 104px;
	}

	.main__layout {
		padding-top: 17px;
	}

	.main-test .floating-images {
		opacity: .5;
	}

	.center {
		padding: 0 20px;
	}

	.header__layout .header__menu-item {
		&:not(.search-item) {
			display: none;
		}
	}

	.header__layout .header__button-layer, .header__layout .header__exit-button-layer {
		display: none;
	}

	.header__layout .header__menu {
		justify-content: center;
	}

	// .header__menu-layer {
	// 	display: none;
	// }

	// .header__layout .header__button-layer {
	// 	display: flex;
	// 	justify-content: flex-end;
	// }

	.assotiation__layout .assotiation__row {
		flex-wrap: wrap;
		justify-content: center;
	}

	.assotiation__layout .assotiation__card-layer {
		flex-basis: 100%;
		max-width: 360px;
	}

	.assotiation__card-layer {
		&:not(:last-child) {
			padding-bottom: 30px;
		}
	}

	.sharing__link-content-layer {
		flex-wrap: wrap;
	}

	.footer__menu {
		flex-wrap: wrap;
	}

	.footer__layout .footer__menu-item {
		flex-basis: 100%;
	}

	.footer__layout .footer__menu-item:not(:last-child) {
		margin-right: 0;
		margin-bottom: 15px;
	}

	.description__layout .description__cards {
		flex-wrap: wrap;
		justify-content: center;
	}

	.description__layout .description__card-layer {
		flex-basis: 100%;
		max-width: 360px;
		&:not(:last-child) {
			padding-bottom: 30px;
		}
	}

	.sharing__layout .sharing__link-layer {
		padding-right: 0;
		padding-bottom: 15px;
		flex-basis: 100%;
	}

	.block {
		& > .center {
			padding: 20px;
		}
	}

	.header__layout .f-container {
		padding: 8px 0;
	}

	.header__layout .header__logo-layer {
		flex-basis: 80%;
		min-width: 125px;
		flex-grow: 0;
		order: 0;
	}

	.header__layout .header__menu-layer {
		flex-basis: 100%;
		padding: 0;
		padding-top: 10px;
		order: 2;
	}

	.header__layout .search-item {
		flex-basis: 100%;
	}

	//Burger

	.header__layout .header__burger-layer {
		flex-basis: 20%;
		order: 1;
		display: flex;
		justify-content: flex-end;
	}



		.header__layout .header__btn {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 40px;
			height: 40px;
			cursor: pointer;
			transition: all .5s ease-in-out;
			// display: none;
	}
	.header__layout .header__btn-burger {
			width: 32px;
			height: 5px;
			background-color: @pink;
			border-radius: 6px;
			box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
			transition: all .5s ease-in-out;
	}
	.header__layout .header__btn-burger::before, .header__layout .header__btn-burger::after {
			content: '';
			position: absolute;
			width: 32px;
			height: 5px;
			background: @pink;
			border-radius: 6px;
			box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
			transition: all .5s ease-in-out;
	}
	.header__layout .header__btn-burger::before {
			transform: translateY(-9px);
	}
	.header__layout .header__btn-burger::after {
			transform: translateY(9px);
	}


	.header__layout .header__btn.open .header__layout .header__btn-burger {
			transform: translateX(-50px);
			background: transparent;
			box-shadow: none;
	}
	.header__layout .header__btn.open .header__layout .header__btn-burger::before {
			transform: rotate(45deg) translate(35px, -35px);
	}
	.header__layout .header__btn.open .header__layout .header__btn-burger::after {
			transform: rotate(-45deg) translate(35px, 35px);
	}

	//End burger


	.auth__layout .auth__form-layer {
		padding: 20px;
	}

	.sharing__layout .sharing__link-text-layer {
		padding-bottom: 15px;
	}

	.modal {
		padding: 55px 30px;
		// border: 55px 30px solid @white;
		// border-width: 55px 30px;
	}

	.modal-layer {
		padding: 20px;
	}

	.modal-layer .close-modal {
		top: 30px;
		right: 30px;
	}

	.private__layout .private__form-group {
		flex-wrap: wrap;
	}

	.private__layout .gender-field-group {
		flex-basis: 100%;
		padding-bottom: 15px;
	}

	.private__layout .date-field-group {
		flex-basis: 100%;
		padding: 0;
	}

	.private__layout .gender-field-group .private__field-group-title {
		padding-bottom: 10px;
	}

	.private__layout .private__form-group-layer.first .private__form-group:nth-child(3) {
		padding-bottom: 40px;
	}

	.private__layout .private__form-group-layer.first .private__form-group:nth-child(2) {
		padding-bottom: 30px;
	}

	.private__layout .date-inputs-layer .validate-message {
		bottom: -13px;
	}

	.private__layout .auth-inputs-layer .private__input-layer {
		.validate-message {
			top: -13px;
		}
	}

	.test-row {
		flex-wrap: wrap;
	}

	.test-form .test-card-layer {
		flex-basis: 100%;
		max-width: 360px;

		&:not(:last-child) {
			padding-bottom: 30px;
		}
	}

	.test-form .test-row {
		justify-content: center;
	}

	.test-form .test-title {
		text-align: center;
	}

	.test-adjectives__layer .test-adjectives__arrows {
		width: 100%;
		bottom: unset;
		top: 50%;
		transform: translateY(-50%);
		z-index: 1;
	}

	.test-adjectives__layer .test-adjectives__title-layer {
		// padding-right: 0;
		// padding-left: 0;
	}

	.test-adjectives__layer .center {
		padding-left: 5px;
		padding-right: 5px;
	}

	.test-adjectives__layer .test-adjectives__tags {
		flex-wrap: wrap;
		height: auto;
	}

	.test-adjectives__layer .test-adjectives__tag-layer {
		padding-bottom: 10px;
	}

	.header__layout-no-auth {
		.header__button-layer {
			display: flex;
		}
	}

	.main-test-no-auth {
		padding-top: 71px;
	}

	body .jc-bs3-container.container {
		padding: 20px;
	}
}


@media screen and(max-width: 576px) {
	html {
		font-size: 14px;
	}

	.center {
		padding: 0 15px;
	}

	.comments__card {
		flex-wrap: wrap;
	}

	.comments__layout .comments__content-layer {
		flex-basis: 100%;
	}

	.social-list {
		flex-wrap: wrap;
	}

	.social-list-item:not(:last-child) {
		margin-right: 7px;
	}
	
	.footer__layout .footer__menu-layer {
		flex-basis: 100%;
		padding-bottom: 20px;
	}

	.footer__layout .footer__info {
		flex-wrap: wrap;
	}

	.assessment__layout .assessment__block-title {
		flex-basis: 100%;
		margin-bottom: 15px;
		margin-right: 0;
	}

	.assessment__layout .assessment__block-title-layer {
		flex-wrap: wrap;
	}

	.block {
		& > .center {
			padding: 15px;
		}
	}

	.comments__author-layer {
		margin-bottom: 10px;
	}

	.modal {
		padding: 55px 30px;
		// border: 50px 15px solid @white;
		// border-width: 50px 15px;
	}

	.modal-layer {
		padding: 15px;
	}

	.modal-layer .close-modal {
		top: 20px;
		right: 20px;
	}

	.assessment__layout .assessment__modal-header {
		flex-wrap: wrap;
	}

	.private__layout .controls-inputs-layer {
		flex-wrap: wrap;
	}

	.private__layout .controls-inputs-layer .private__inputs-wrapper:last-child, .private__layout .controls-inputs-layer .private__inputs-wrapper:first-child {
		flex-basis: 100%;
	}

	.private__layout .controls-inputs-layer .private__inputs-wrapper {
		flex-wrap: wrap;
	}

	.private__layout .controls-inputs-layer .private__input-layer {
		flex-basis: 100%;
	}

	.private__layout .controls-inputs-layer .private__inputs-wrapper .private__input-layer:first-child, .private__layout .controls-inputs-layer .private__inputs-wrapper .private__input-layer:not(:last-child) {
		padding-right: 0;
		padding-bottom: 15px;
	}

	.private__layout .auth-inputs-layer {
		flex-wrap: wrap;
	}

	.private__layout .auth-inputs-layer .private__input-layer:nth-child(odd) {
		flex-basis: 100%;
		padding-right: 0;
	}

	.private__layout .auth-inputs-layer .private__input-layer:not(:nth-last-child(1)):not(:nth-last-child(2)) {
		padding-bottom: 15px;
	}

	.private__layout .auth-inputs-layer .private__input-layer:nth-child(even) {
		flex-basis: 100%;
		padding-left: 0;
	}

	.private__layout .auth-inputs-layer .private__input-layer:not(:last-child) {
		padding-bottom: 15px;
	}

	.private__layout .private__form-group-layer.first .private__form-group:nth-child(3) {
		padding-bottom: 30px;
	}

	.test-preview__description-layer, .test-preview__triggers-layer {
		padding-bottom: 22px;
	}

	.test-preview__layout  {
		width: 100%;
	}

	.test-preview__layout .test-preview__description-layer {
		max-width: 100%;
		text-align: center;
	}

	.test-preview__layout .test-preview__trigger {
		justify-content: center;
		flex-direction:column;
	}

	.test-preview__layout .test-preview__trigger-text-layer,  {
		flex-basis: 100%;
	}

	.test-preview__layout .test-preview__trigger-text {
		text-align: center;
	}

	.test-preview__title-layer {
		text-align: center;
	}

	.test-preview__layout .test-preview__trigger-icon-layer {
		padding-right: 0;
		padding-bottom: 15px;
	}

	.test-preview__sharing-button-layer {
		display: flex;
		justify-content: center;
	}

	.test-questions__layout .f-container {
		flex-wrap: wrap;
	}

	.test-questions__layout .test-questions__question-layer {
		flex-basis: 100%;
		padding-right: 0;
		padding-bottom: 20px;
	}

	.test-questions__layout .test-question__input:checked+label {
		font-size: 22/17 * 1rem;
	}

	.test-form .btns-layer {
		flex-wrap: wrap;
	}

	.test-form .test-questions__button-layer {
		flex-basis: 100%;
		&:first-child {
			justify-content: center;
			padding-right: 0;
			padding-bottom: 25px;
		}

		&:last-child {
			justify-content: center;
			padding-left: 0;
		}
	}

	.test-adjectives__layer .test-adjectives__card-layer .test-adjectives__card {
		// margin: 0;
	}

	.test-adjectives__layer .test-adjectives__tags-layer {
		// padding: 0;
	}

	.test-adjectives__layer .center {
		padding-right: 0;
		padding-left: 0;
	}

	.header__layout-no-auth .header__button-layer {
		flex-wrap: wrap;
		// max-width: 208px;
		flex-basis: 208px;
		justify-content: center;
		flex-grow: 0;
	}

	.header__layout-no-auth .header__button {
		flex-basis: 100%;
		max-width: unset;
	}

	.header__layout-no-auth .link-btn:not(.header__button) {
		margin-right: 0;
		margin-bottom: 15px;
	}

	.main-test-no-auth {
		padding-top: 97px;
	}

	.test-preview__layout .test-preview__sharing-button-layer {
		margin: 0 auto;
	}

	.test-preview__layout .test-preview__choose {
		left: 50%;
		transform: translateX(-50%);
	}

	body .jc-bs3-container.container {
		padding: 15px;
	}

	.test-preview__layout .test-preview__triggers-layer {
		margin-left: 0;
	}

	.test-preview__layout .test-preview__trigger-text-layer {
			padding-right: 0px;
	}

	.test-preview__layout {
		text-align:center;
	}
}


@media screen and (max-height: 450px) {
	.notification__layer .notification__content-layer.fixed {
		display: block;
		overflow-y: auto;
		padding-top: 30px;
	}
}