@media screen and(max-width: 1200px) {

    .main-screen__layout {
        .main-screen__body::before {
            display: none;
        }
    }

}

@media screen and(max-width: 992px) {
    html {
        font-size: 15px;
    }

    // .main-screen__layout .main-screen__background-video {
    //     transform: translate(((50% + (85vw/1600px * 100%)) * -1), -50%);
    // }
    .center {
        padding: 0 25px;
    }

    .sidebar {
        width: 100px;
    }

    .main__content,
    .header,
    .popup-open .mfp-wrap {
        width: calc(100% - 100px);
    }

    .menu-popup__layout {
        .menu-popup__list-item {
            height: 80px * 0.9;
        }
    }

    .order-popup__layout {
        .order-popup__f-container {
            flex-wrap: wrap;
        }

        .order-popup__preview-layer {
            padding-left: 0;
            flex-basis: 100%;
        }

        .order-popup__form-layer {
            padding-right: 0;
            flex-basis: 100%;
        }

        .field-wrapper {
            max-width: unset;

            &.small {
                max-width: unset;
            }
        }

    }

    .news-popup__layout {
        .f-container {
            flex-wrap: wrap;
        }

        .news-popup__cards-layer,
        .news-popup__sidebar-layer {
            flex-basis: 100%;
        }
    }

    .header__layout {
        .header__logo {
            width: 79px * 0.75;
            height: 82px * 0.75;
        }
    }

    .screen-text-counter {
        width: 50px;
        height: 50px;
        min-width: 50px;
    }

    .about-set-popup__layout {
        .f-container {
            flex-wrap: wrap;
        }

        .about-set-popup__info-layer,
        .about-set-popup__images-layer {
            flex-basis: 100%;
        }

        .about-set-popup__images-layer {
            padding-left: 0;
        }

        .image-wrapper_top {
            justify-content: center;
        }

        .about-set-popup__slider {
            max-width: unset;
        }

        .about-set-popup__buttons {
            justify-content: center;
        }
    }
}

@media screen and(max-width: 768px) {
    html {
        font-size: 14px;
    }

    .center {
        padding: 0 20px;
    }

    .menu-popup__layout {
        .menu-popup__list-item {
            height: 80px * 0.8;
        }
    }


}


@media screen and(max-width: 576px) {
    html {
        font-size: 12px;
    }

    .center {
        padding: 0 15px;
    }

    .sidebar__layout {

        .sidebar__wantbuy-text,
        .sidebar__cart-text {
            display: none;
        }


        .sidebar__wantbuy-icon,
        .sidebar__cart-icon {
            padding: 8px;
        }

        .sidebar__wantbuy-ico,
        .sidebar__cart-ico {
            width: 25px;
            height: 25px;

            svg {
                width: 25px;
                height: 25px;
            }
        }

        .sidebar__social-link,
        .sidebar__social-share,
        .sidebar__social-share:after {
            width: 25px;
            height: 25px;
        }

        .social-ico {
            max-width: 12px;
            max-height: 14px;

            svg {
                max-width: 12px;
                max-height: 14px;
            }
        }
    }

    .sidebar {
        width: 50px;
    }

    .main__content,
    .popup-open .mfp-wrap,
    .header {
        width: calc(100% - 50px);
    }

    .main-screeen__title {
        br {
            display: none
        }
    }

    .news-popup__layout {
        .news-popup__card-wrapper {
            flex-basis: 100%;
        }
    }

    .menu-popup__layout {
        .menu-popup__list-item {
            height: 80px * 0.7;
        }

        .menu-popup__navigation-layer {
            padding-left: 0;
        }
    }
}