

@media screen and(max-width: 1200px) {

}

@media screen and(max-width: 992px) {
    // .main-screen__layout .main-screen__background-video {
    //     transform: translate(((50% + (85vw/1600px * 100%)) * -1), -50%);
    // }

    .center {
        padding: 0 25px;
    }
}

@media screen and(max-width: 768px) {
    .center {
        padding: 0 20px;
    }
}


@media screen and(max-width: 576px) {
    .center {
        padding: 0 15px;
    }

    .sidebar {
        width: 50px;
    }

    .main__content {
        width: calc(100% - 50px);
    }

    .main-screeen__title {
        br {
            display: none
        }
    }
}




