.popups__layout {}


/* Styles for dialog window */
.popup {
	text-align: left;
	// margin: 40px auto;
	width: 100%;
	position: relative;
}


.popup-main {
	background: transparent;
	width: calc(100% - 140px);
	color: @light-gray;


	&>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle {
		cursor: pointer;
		background: rgba(@dark-orange, 0.4);

		&.active {
			background: rgba(@dark-orange, 0.8);
		}

		&:hover {
			background: rgba(@dark-orange, 0.8);
		}
	}


	&.mfp-wrap {
		background: url("../img/bg-pattern.png") no-repeat center/cover,
			@blue;
		opacity: 1;
	}


	.mfp-container {
		padding: 0;

	}


	.mfp-content {
		padding-top: 178px;
		padding-bottom: 178px;
		// min-height: 730px;
		min-height: 100%;

	}

	.popup {
		height: 100%;
		background: @transparent;
	}

	.popup__layout {
		height: 100%;

		.center {
			height: 100%;
			min-height: 730px;
		}
	}
}

.popup__cards {
	width: 100%;
	padding-bottom: 20px;
	margin: 0 auto;
}

.popup__card {
	padding: 20px 45px 20px 20px;
	height: 175px;
	display: flex;
	align-items: center;
	width: 100%;
	background: @blue;
	border: 1px solid @gray;
	border-radius: 14px;
	position: relative;
}

.popup__card-boxing {
	padding: 0;
	margin: 0;
	flex-basis: 55%;
	height: 100%;
}

.popup__card-price {
	font-size: 28/16 * 1rem;
	font-weight: 500;
	text-align: right;
}

.popup__card-description {
	flex-basis: 40%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.popup__card-img {}

.popup__card-img-wrapper {
	flex-basis: 216px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 55/((1010 - 65) * 0.55) * 100%;
}

.popup__card-mass {
	padding: 0;
	margin: 0;
	flex-basis: (518 - 216 - 55) / 518 * 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;

	span {
		overflow-x: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		max-width: 100%;
		display: block;

		&:last-child {
			font-size: 24/16 * 1rem;
			line-height: 32/24;
			color: @sky-blue;
		}

		&:first-child {
			font-size: 18/16 * 1rem;
			letter-spacing: 1px;
			color: @font-color;
			position: absolute;
			top: 20px;
			line-height: 1.35;
		}
	}
}

.popup__card-boxing {
	display: flex;
}

.popup__btn-wrapper {
	width: 100%;
}

.popup__card-quantity {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 115px;
	margin: 0 auto;
}

.popup__card-quantity-control,
.popup__card-quantity-count {
	background-color: @light-gray;
	color: @dark-blue;
	border-radius: 10px;
	font-size: 14/16 * 1rem;
	line-height: 1;
	width: 25px;
	height: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.popup__card-quantity-control {
	cursor: pointer;
	transition: background-color 0.2s linear, color 0.2s linear;

	&:hover {
		background-color: @gray;
		color: @light-gray
	}
}

.popup__card-quantity-plus {
	background-color: @red-orange;
	color: @light-gray;

	&:hover {
		background-color: @orange;
	}
}

.popup__card-quantity-count {
	border-radius: 14px;
	height: 28px;
	width: 47px;
}

.popup__basket-clear {

	&:before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 1px;
		background: @gray;
	}


	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0%;
		height: 1px;
		background: @red-orange;
		transition: width 0.2s linear;
	}

	&:hover {
		&:after {
			width: 100%;
		}
	}
}

.popup__note {
	font-size: 14/16 * 1rem;
}

.popup__total-price {
	font-size: 28/16 * 1rem;
	letter-spacing: 1px;
	font-weight: 500;
}

.popup__card-quantity-minus,
.popup__card-quantity-count {
	margin-right: 7px;
}

.popup__basket-remove {
	display: flex;
	position: absolute;
	align-items: center;
	right: 45px;
	bottom: 20px;
	i {
		margin-right: 7px;
	}
	svg {
		transition: fill 0.25s linear;
	}

	&:hover {
		svg {
			fill: @red-orange;
		}
	}
}

/**
 * Fade-zoom animation for first dialog
 */

/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
	opacity: 0;
	transition: all 0.2s ease-in-out;
	transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
	transform: scale(0.8);
	opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
	opacity: 0;
	transition: opacity 0.3s ease-out;
}

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
}

/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}



/**
 * Fade-move animation for second dialog
 */

/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
	opacity: 0;
	transition: all 0.2s ease-out;
	transform: translateY(-20px) perspective(600px) rotateX(10deg);

}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	transform: translateY(0) perspective(600px) rotateX(0);
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
	opacity: 0;
	transform: translateY(-10px) perspective(600px) rotateX(10deg);
}

/* Dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
	opacity: 0;
	transition: opacity 0.3s ease-out;
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
	opacity: 0.8;
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
	opacity: 0;
}