.popups__layout {}


/* Styles for dialog window */
.popup {
	text-align: left;
	margin: 0 auto;
	width: 100%;
	position: relative;
}

.menu-popup {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}


.popup-open {

	.mfp-bg {
		background: @transparent;
		width: calc(100% - 140px);
	}

	.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle {
		cursor: pointer;
		background: rgba(@dark-orange, 0.4);

		&.active {
			background: rgba(@dark-orange, 0.8);
		}

		&:hover {
			background: rgba(@dark-orange, 0.8);
		}
	}


	.mfp-wrap {
		background: url("../img/bg-pattern.png") no-repeat center/cover,
			@blue;
		opacity: 1;
		color: @light-gray;
		width: calc(100% - 140px);
	}


	.mfp-container {
		padding: 0;

	}


	.mfp-content {
		padding-top: 178px;
		padding-bottom: 178px;
		// min-height: 730px;
		min-height: 100%;
		display: inline-flex;
		justify-content: center;
		align-items: center;

	}

	.popup {
		height: 100%;
		background: @transparent;
	}

	.popup__layout {
		height: 100%;

		.center {
			height: 100%;
			min-height: 730px;
		}
	}
}

.popup-open_secondary {

	.mfp-wrap {
		width: calc(100% - 140px);
		background: @transparent;
	}

	.mfp-container {
		padding: 30px;
		overflow-y: auto;
	}

	.mfp-bg {
		background: #0b0b0b;
		opacity: .8;
		width: 100%;
	}

	.mfp-content {
		padding: 0;
	}


	.popup__layout .center {
		min-height: unset;
	}
}


.popup-open_menu {
	.mfp-wrap {
		position: relative;
		opacity: 1;
		width: 100%;

		&:before {
			content: '';
			position: absolute;
			right: 0;
			top: 0;
			width: 1020/1600 * 100%;
			height: 100%;
			background: url("../img/bg-pattern-menu.png") no-repeat center/cover,
				@orange;
		}

		&:after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: (1600 - 1020)/1600 * 100%;
			height: 100%;
			background: url("../img/bg-park.png") no-repeat left/cover;
		}

	}

	.mfp-container {
		padding: 30px 0;
		overflow-y: auto;
	}

	.mfp-content {
		padding: 0;
		height: 100%;
	}

	.mfp-bg {
		width: 100%;
	}

	.popup__layout {
		height: auto;
		width: 100%;
	}

	.popup__layout .center {
		min-height: unset;
	}



}

.popup-open_second-branch {
	.fullpage-popup {
		// height: auto!important;

		.iScrollIndicator {
			box-sizing: border-box;
			position: absolute;
			border: 1px solid rgba(255, 255, 255, 0.9);
			border-radius: 3px;
			width: 100%;
			transition-duration: 0ms;
			display: block;
			height: 1429px;
			transform: translate(0px, 0px) translateZ(0px);
			transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);
			background: rgba(@orange, 0.5);
		}

		.iScrollVerticalScrollbar {
			position: absolute;
			z-index: 9999;
			width: 7px;
			bottom: 2px;
			top: 2px;
			right: 1px;
			overflow: hidden;
		}
	}

	// .mfp-wrap,
	// .mfp-bg,
	// .header {
	// 	width: 100%;
	// }

	.mfp-wrap {
		overflow: hidden !important;
		background: @blue;
	}

	.mfp-content {
		height: 100%;
		padding: 0;
	}

	.popup__layout {
		padding: 178px 0;
		height: auto;
	}

	.popup__layout .center {
		min-height: unset;
		height: auto;
		// padding-top: 105px;
	}

}


.popup_secondary {
	max-width: 530px;
}

.popup__layout_secondary {
	background-color: @white;
	color: @dark-blue;
	border-radius: 14px;
	padding: 35px 10px;

	.field-wrapper {
		background-color: @semi-light-gray;
		border-color: @semi-light-gray2;
		max-width: unset;
		height: 60px;
		border-radius: 30px;

		.field {
			border-radius: 30px;
			color: @dark-blue;
			font-size: 14/16 * 1rem;

			&::-moz-placeholder,
			&::-webkit-input-placeholder {
				color: @dark-blue;
				font-size: 14/16 * 1rem;
			}
		}

		&:hover,
		&:focus-within {
			border-color: @orange;
		}

	}

	.popup__title,
	.popup__subtitle {
		color: @dark-blue;
		text-align: center;
	}

	.popup__subtitle {
		padding-bottom: 25px;
	}

	.popup__btn {
		max-width: unset;
	}

	.field-row {
		padding-bottom: 15px;
	}
}


.popup_third {
	max-width: 1012px;
}


.popup__cards {
	width: 100%;
	padding-bottom: 20px;
	margin: 0 auto;
}

.popup__card {
	padding: 20px 45px 20px 20px;
	height: 175px;
	display: flex;
	align-items: center;
	width: 100%;
	background: @blue;
	border: 1px solid @gray;
	border-radius: 14px;
	position: relative;
}

.popup__card-boxing {
	padding: 0;
	margin: 0;
	flex-basis: 55%;
	height: 100%;
}

.popup__card-price {
	font-size: 28/16 * 1rem;
	font-weight: 500;
	text-align: right;
}

.popup__card-description {
	flex-basis: 40%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.popup__card-img {
	max-height: 100%;
}

.popup__card-img-wrapper {
	flex-basis: 216px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 55/((1010 - 65) * 0.55) * 100%;
}

.popup__card-mass {
	padding: 0;
	margin: 0;
	flex-basis: (518 - 216 - 55) / 518 * 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;

	span {
		overflow-x: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		max-width: 100%;
		display: block;

		&:last-child {
			font-size: 24/16 * 1rem;
			line-height: 32/24;
			color: @sky-blue;
		}

		&:first-child {
			font-size: 18/16 * 1rem;
			letter-spacing: 1px;
			color: @font-color;
			position: absolute;
			top: 20px;
			line-height: 1.35;
		}
	}
}

.popup__card-boxing {
	display: flex;
}

.popup__btn-wrapper {
	width: 100%;
}

.popup__card-quantity {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 115px;
	margin: 0 auto;
}

.popup__card-quantity-control,
.popup__card-quantity-count {
	background-color: @light-gray;
	color: @dark-blue;
	border-radius: 10px;
	font-size: 14/16 * 1rem;
	line-height: 1;
	width: 25px;
	height: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.popup__card-quantity-control {
	cursor: pointer;
	transition: background-color 0.2s linear, color 0.2s linear;

	&:hover {
		background-color: @gray;
		color: @light-gray
	}
}

.popup__card-quantity-plus {
	background-color: @red-orange;
	color: @light-gray;

	&:hover {
		background-color: @orange;
	}
}

.popup__card-quantity-count {
	border-radius: 14px;
	height: 28px;
	width: 47px;
}

.popup__basket-clear {}

.popup__note {
	font-size: 14/16 * 1rem;
}

.popup__total-price {
	font-size: 28/16 * 1rem;
	letter-spacing: 1px;
	font-weight: 500;
}

.popup__card-quantity-minus,
.popup__card-quantity-count {
	margin-right: 7px;
}

.popup__basket-remove {
	display: flex;
	position: absolute;
	align-items: center;
	right: 45px;
	bottom: 20px;

	i {
		margin-right: 7px;
	}

	svg {
		transition: fill 0.25s linear;
	}

	&:hover {
		svg {
			fill: @red-orange;
		}
	}
}


.popup__text-subtitle {
	font-size: 20/16 * 1rem;
	letter-spacing: 1px;
	line-height: 28/20;
	color: @dark-blue;
	font-weight: 500;
	padding-bottom: 6px;
}

.popup__text {
	font-size: 18/16 * 1rem;
	letter-spacing: 0px;
	line-height: 28/18;
	color: @dark-blue;
	font-weight: 300;
}

.popup__text_white:extend(.popup__text) {
	color: @font-color;
	font-size: 1rem;
	line-height: 24/16;
}

.popup__text-subtitle_white:extend(.popup__text-subtitle) {
	color: @font-color;
	font-family: 'Adventure Indiana Jones', cursive;
	font-size: 26/16 * 1rem;
	letter-spacing: 1px;
}

/**
 * Fade-zoom animation for first dialog
 */

/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
	opacity: 0;
	transition: all 0.2s ease-in-out;
	transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
	transform: scale(0.8);
	opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
	opacity: 0;
	transition: opacity 0.3s ease-out;
}

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
}

/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}