.screen-5__layout {

    // padding-bottom: 130px;


    .center {
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    &:before {
        content: '';
        position: absolute;
        width: 720/1460 * 100%;
        height: 675/980 * 100%;
        left: 0;
        bottom: 0;
        z-index: 4;
        background: url('../img/ball-left.png') no-repeat left bottom/contain;

    }

    .screen-5__background-layer,
    .screen-5__background {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
    }

    .screen-5__title {
        .fPa(0%, 110%, 0px, 110px, 576px, 1400px);
    }

    .screen-5__center {
        max-width: unset;
    }

    .screen-5__slider-layer-main {
        display: flex;
        justify-content: center;
        align-items: center;
        // padding: (615px - 350px)/2 0;
        position: relative;


        &:after {
            content: '';
            display: block;
            // padding-top: 50%;
            height: 80vw;
            max-height: 680px;
            width: 100%;
        }



        &:before {
            content: '';
            pointer-events: none;
            display: block;
            position: absolute;
            height: 615px;
            width: 100%;
            background: url('../img/TV.png') no-repeat center/contain;
        }

    }

    .screen-5__slider-main {
        max-width: 625px;
        width: 625/750 * 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-55%, -45%);

        .screen-5__slider-track {
            .screen-5__slider-list {
                .screen-5__slider-slide {
                    border: unset;
                    border-radius: 40px;
                }
            }
        }

        .screen-5__slider-arrows {
            position: absolute;
            width: 115px;
            height: 55px;
            left: 50%;
            bottom: -150/350 * 100%;
            transform: translateX(-50%);
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .screen-5__slider-img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            object-fit: cover;
        }
    }

    .screen-5__slider-layer-secondary {
        max-width: 1200px;
        position: relative;
        width: 93%;



        &:before {
            content: '';
            display: block;
            // padding-top: 210px;
            padding-bottom: 230/1200 * 100%;
        }


        &:after {
            content: '';
            display: block;
            position: absolute;
            height: 308px;
            top: -14.5%;
            left: -30px;
            width: 100%;
            background: url('../img/photographic-film.png') no-repeat top/contain;
        }
    }

    .screen-5__slider-wrapper-secondary {
        // margin-bottom: 35px;
    }

    .screen-5__slider-secondary {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        left: -55px;
        z-index: 3;


        .screen-5__slider-track {
            .screen-5__slider-list {
                width: 100%;

                .screen-5__slider-slide {
                    border: unset;
                    border-radius: 14px;
                }
            }
        }

        .screen-5__slider-slide {
            width: calc(25% - 15px);
            cursor: pointer;

            &:before {
                content: '';
                pointer-events: none;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 3;
                border-radius: 14px;
                background-color: @transparent;
                transition: background-color 0.25s linear;
            }


            &:after {
                content: '';
                display: block;
                width: 100%;
                padding-top: 210/290 * 100%;
            }




            &:not(.is-active) {
                &:before {
                    background-color: rgba(@white, 0.6);
                }

                &:hover {
                    &:before {
                        background-color: @transparent;
                    }
                }
            }



            .screen-5__slider-img,
            .screen-5__slider-link {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 14px;
            }

        }


        .screen-5__slider-arrows {
            position: absolute;
            width: 55px;
            height: 100%;
            right: -100px;
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        }

        .screen-5__slider-arrow-next {
            margin-bottom: 10px
        }
    }

    .screen-5__slider-arrow {
        position: static;
        transform: unset;
        width: 50px;
        height: 50px;
        background: @light-gray;
        transition: 0.25s background-color linear;
        opacity: 1;


        &.disabled {
            background-color: @gray;
            opacity: 1;
            cursor: auto;

            &:hover {
                background-color: @gray;
                opacity: 1;
            }
        }

        &:hover {

            &:not(.disabled) {
                background-color: @red-orange;
                opacity: 1;

                svg {
                    fill: @white;
                }
            }

        }

        &:first-child {
            svg {
                transform: rotate(0deg);
            }
        }

        &:last-child {
            svg {
                transform: rotate(180deg);
            }
        }


    }

    .screen-5__social-layer {
        max-width: 1100px;
        margin: 0 auto;
    }

    .screen-5__social-wrapper {
        background-color: @semi-light-blue;
        border: 1px solid @light-gray;
        border-radius: 14px;
        padding: 37px 50px 45px 50px;
        margin-top: 110/1100 * 100%;
    }

    .screen-5__social-text {
        // font-size: 26/16 * 1rem;
        .fSize(26vw, 26px * (768/1220), 28px, 768px, 1220px);
        letter-spacing: 2px;
        line-height: 52/26;
        font-weight: 700;
        font-family: "Playfair Display SC", serif;
        text-align: center;
        padding-bottom: 12px;
    }

    .screen-5__social-list {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .screen-5__social-list-item {
        &:not(:last-child) {
            padding-right: 20px;
        }
    }

    .screen-5__social-link {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.25s linear;


    }

    .screen-5__social-ico {
        max-width: 26px;
        max-height: 26px;

        svg {
            max-width: 26px;
            max-height: 26px;
        }
    }

    .inst-link {
        background-color: @inst;

        &:hover {
            background-color: rgba(@inst, 0.8);
        }
    }

    .fb-link {
        background-color: @fb;

        &:hover {
            background-color: rgba(@fb, 0.8);
        }
    }

    .screen-5__play-video {
        width: 80px;
        height: 80px;

        &:before {
            width: 25px;
            height: 30px;
            border-width: 15px 0 15px 25px;
        }
    }

    .screen-5__background-image {
        position: absolute;
        z-index: 5;

        &:first-child {
            bottom: 760/1735 * 100%;
            // left: 136/1460 * 100%;
            right: 175/1460 * 100%;
            width: 50px;
        }

        &:nth-child(2) {
            top: 219/1735 * 100%;
            left: 136/1460 * 100%;
            width: 97/1460 * 100%;
            min-width: 50px;
        }

        &:last-child {
            bottom: 775/1735 * 100%;
            left: 184/1460 * 100%;
            width: 60px;
        }
    }

}


.screen-5-2__layout {
    // .f-container {
    //     flex-direction: column;
    //     justify-content: center;
    // }

    .center {
        max-width: 1280px;
    }
}