@white: #FFFFFF;
@black: #000000;
@font-color: @light-gray;
@transparent: transparent;

//main colors
@dark-blue: #00142c;
@blue: #162a45;
@orange: #f87430;
@dark-orange: #eb6635;


//secondary colors
@dirty-blue: #98d1e5;
@red-orange: #e04226;
@light-gray: #eaeaea;
@gray: #8b909a;
@sky-blue: #6090d1;
