@import url("app/less/_var.less");
@import url("app/less/_mixins.less");
@import url("app/less/_fonts.less");
@import url("app/less/_init-sprites.less");

html {
  font-size: 16px;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

html,
body {
  color: @font-color;
  height: 100%;
  width: 100%;
  // overflow-x: hidden;

}


::selection {
  background: rgba(@dark-orange, 0.9);
  color: @white;
}

body {

  margin: 0;
  padding: 0;
  font-family: 'Gotham Pro', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: @font-color;
  letter-spacing: 0.01rem;
  line-height: 24/17;
  background-color: @blue;

  &.menu-open {
    overflow: hidden;
  }

  &.fixed {
    overflow: hidden;
  }

  &.popup-open {
    .header {
      z-index: 2050;


      .f-container {
        background: url("../img/bg-pattern.png") no-repeat center/cover,
          @blue;
      }
    }

    .header__menu {
      display: none;
      pointer-events: none;
    }

    .close-popup {
      display: block;
    }


    &.popup-open_secondary,
    &.popup-open_menu,
    &.popup-open_third,
    &.popup-open_fifth {
      .header {
        z-index: 99;


        .f-container {
          background: @transparent;
        }
      }

      .close-popup {
        display: none;
      }

      .close-popup_secondary,
      .close-popup_menu {
        display: block;
      }

      .header__menu {
        display: flex;
        pointer-events: all;
        justify-content: flex-end;
      }
    }

    &.popup-open_fourth {
      .close-popup-btn {
        display: none;
      }

      .close-popup_secondary {
        display: block;
        position: relative;
        top: 0;
        right: 0;
      }
    }


  }

}


div,
a {
  outline: none;
  color: @font-color;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  line-height: 1;
}

img,
picture,
source {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

h2 {
  overflow-wrap: break-word;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  display: block;
  color: @font-color;
  cursor: pointer;
  font-weight: normal;
}

input,
select,
textarea {
  width: 100%;
  outline: none;
  border: none;
  text-align: center;
}



label {
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 300;
}

button {
  cursor: pointer;
}


main {
  width: 100%;
  // padding-top: 79px;
}

.center {
  max-width: 1220px + 30px + 30px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

.f-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.main__f-container {
  flex-wrap: nowrap;
}


.ico {
  display: block;
  // max-width: 100%;
  // max-height: 100%;
}



//|||||||||||||||||||COMMON ELEMENTS|||||||||||||||||||//



.h1-title {
  .fSize(60vw, 60px * (768/1220), 60px, 576px, 1220px);
  font-weight: 300;
  font-family: 'Adventure Indiana Jones', cursive;
  text-align: center;
  line-height: 68/60;
  color: @font-color;
  letter-spacing: 4px;

  span {
    color: @red-orange;
  }
}

.h2-title {
  .fSize(36vw, 36px * (768/1220), 36px, 576px, 1220px);
  font-weight: 300;
  font-family: 'Adventure Indiana Jones', cursive;
  text-align: center;
  line-height: 68/36;
  color: @font-color;
  letter-spacing: 2px;
}

.subtitle {
  font-size: 24/16 * 1rem;
  letter-spacing: 1px;
  line-height: 55/24;
  color: @white;
  font-weight: 500;
  text-align: center;
  padding-bottom: 45px;

  span {
    color: @red-orange;
  }
}


.btn {
  font-family: 'Gotham Pro', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14/16 * 1rem;
  line-height: 16/14;
  color: @white;
  transition: color 0.25s linear;
  border: none;
  outline: none;
  border-radius: 25px;
  height: 50px;
  width: 100%;
  max-width: 210px;
  min-width: 175px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  text-align: center;

  span,
  i {
    position: relative;
    z-index: 1;
    transition: color 0.25s linear;
  }


  &::after {
    /*background-color: #f00;*/
    height: 100%;
    left: -55%;
    top: 0;
    transform: skew(50deg);
    transition-duration: 0.6s;
    transform-origin: top left;
    width: 0;
    content: '';
    position: absolute;
    z-index: 0;
  }

  &:hover:after {
    height: 100%;
    width: 155%;
  }


  &.white {
    background-color: @white;
    color: @dark-blue;

    &:hover {
      background-color: @font-color;
      color: @font-color;
    }

    &:after {
      background: @red-orange;
    }

  }

  &.transparent {
    background-color: @transparent;
    color: @font-color;
    border: 1px solid @font-color;
    transition: border 0.25s linear;

    &:hover {
      color: @orange;
      border: 1px solid @orange;

      &:after {
        border-right: 15px solid rgba(@orange, 0.05);
      }
    }

    &:after {
      background: @transparent;
      transition: background-color 0.2s 0.6s linear, height 0.6s, width 0.6s;
      border-right: 15px solid rgba(@light-gray, 0.05);
    }
  }


  &.red-orange {
    background-color: @red-orange;
    color: @font-color;

    &:hover {
      background-color: @red-orange;
      color: @font-color;
    }

    &:after {
      background: @dark-orange;
    }

  }


  &.sky-blue {
    background-color: @transparent;
    color: @sky-blue;
    border: 1px solid @sky-blue;

    &:hover {
      background-color: @transparent;
      color: @font-color;
    }

    &:after {
      background: @sky-blue;
    }

  }

  &.big {
    height: 60px;
    border-radius: 30px;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 400;
  }


  &.small {
    font-size: 1rem;
    max-width: unset;
    height: 40px;
    border-radius: 4px;
    min-width: unset;
    width: auto;
    padding: 0 10px;

  }
}

.main__content {
  // width: (1600 - 140)/1600 * 100%;
  width: calc(100% - 140px);
  background-color: @blue;


  .iScrollIndicator {
    box-sizing: border-box;
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.9);
    border-radius: 3px;
    width: 100%;
    transition-duration: 0ms;
    display: block;
    height: 1429px;
    transform: translate(0px, 0px) translateZ(0px);
    transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);
    background: rgba(@orange, 0.5);
  }

  .iScrollVerticalScrollbar {
    position: absolute;
    z-index: 9999;
    width: 7px;
    bottom: 2px;
    top: 2px;
    right: 1px;
    overflow: hidden;
  }

}

.section {
  padding: 0;
  background-color: @blue;

}


// .section__layout {
//   .fPa(40%, 40%, 40px, 40px, 992px,  1366px);
// }

.close-btn {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 40px;
  height: 40px;
  cursor: pointer;

  &:hover {

    &:before,
    &:after {
      // background: @red;
    }
  }



  &:before,
  &:after {
    content: '';
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;

    background: @font-color;
    width: 32px;
    height: 5px;
    border-radius: 6px;
    transition: background 0.25s linear;

  }

  &:before {
    transform: translate(-50%, -50%) rotate(135deg);
  }

  &:after {
    transform: translate(-50%, -50%) rotate(45deg);
  }
}


.form-group {
  padding: 0;
  margin: 0;
  border: none;
  outline: unset;
}




.validate-message {
  // color: @red;
  position: absolute;
  top: -20px;
  font-size: 14/17 *1rem;
  line-height: 16/14;
  display: none;
}


.field {

  &[type="checkbox"],
  &[type="radio"] {
    display: none;


    &+label {
      position: relative;
      cursor: pointer;
      font-size: 14/16 * 1rem;
      letter-spacing: 0px;
      text-align: center;
    }

  }

  &:not([type="checkbox"]):not([type="radio"]) {
    // background-color: @light-gray;
    background: @transparent;
    width: 100%;
    height: 100%;
    text-align: left;
    color: @font-color;
    padding: 0 20px;
    border-radius: 23px;

    &::-webkit-input-placeholder {
      color: @gray;
    }

    &::-moz-placeholder {
      color: @gray;
    }

    &.textarea {
      padding: 15px 20px;
      resize: none;
    }

    &+label {
      transform-origin: 0 0;
      transition: transform 0.25s linear, color 0.25s linear;
    }

    &:not(:placeholder-shown) {
      &+label {
        transform: scale(.6) translate(0%, -36px);
        color: @orange;
      }
    }

    &:not(:placeholder-shown):not(:focus) {
      &+label {
        transform: scale(.6) translate(0%, -36px);
        color: @gray;
      }
    }

    &:focus,
    &:active {
      &+label {
        transform: scale(.6) translate(0%, -36px);
        color: @orange;
      }
    }

    // &.no-valid {
    //   // border: 1px solid @red;
    // }
  }

}

.field-wrapper {
  position: relative;
  width: 100%;
  max-width: 282px;
  height: 46px;
  border-radius: 23px;
  background-color: @semi-light-blue;
  border: 1px solid @light-blue;
  transition: 0.25s border-color linear;


  &:hover,
  &:focus-within {
    border-color: @red-orange;
  }


  &.textarea-field-wrapper {
    height: auto;
    max-width: 100%;

  }
}

.fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.field-row {
  display: flex;
  width: 100%;
  padding-bottom: 30px;
  justify-content: space-between;
  align-items: center;
}

.field-wrapper {
  width: 100%;
}

.close-popup {
  width: 20px;
  height: 20px;
  position: relative;
  display: none;
  cursor: pointer;
  margin-left: auto;

  &:hover {
    span {
      background-color: @dark-orange;
    }
  }

  span {
    width: 20px;
    height: 2px;
    display: block;
    background-color: @white;
    transition: background-color 0.2s linear;
    position: absolute;
    top: 50%;
    left: 50%;
    // transform-origin: center;


    &:first-child {
      transform: translate(-50%, -50%) rotate(135deg);
    }

    &:last-child {
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }

  &.close-popup_secondary {
    position: absolute;
    right: -25px;
    top: -25px;
  }

  &.close-popup_menu {
    position: absolute;
    right: 260/1600 * 100%;
    top: 5px;

    &:hover {
      span {
        background-color: @sky-blue;
      }
    }

    // right: -25px;
    // top: -25px;
  }
}

.text-field-label {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: @gray;
}

.textarea-field-label {
  position: absolute;
  top: 23px;
  left: 20px;
  transform: translateY(-50%);
  color: @gray;
}

.transparent-btn {
  background: unset;
  border: none;
  outline: none;
  color: @gray;
  font-size: 14/16 * 1rem;
  letter-spacing: 0px;
  position: relative;
  padding: 0;
  margin: 0;
  display: inline-flex;

  span {
    color: @gray;
  }

  &.with-underline {
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background: @gray;
    }


    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 1px;
      background: @red-orange;
      transition: width 0.2s linear;
    }

    &:hover {
      &:after {
        width: 100%;
      }
    }
  }
}

.rubbish-ico {
  width: 13px;
  height: 16px;

  svg {
    width: 13px;
    height: 16px;
    fill: @gray;
  }
}

.screen {
  height: 100%;
  background-color: @blue;
}

.screen__layout {
  padding-top: 120px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;

  &>* {
    position: relative;
    z-index: 5;
  }

}

.screen-text-layer {
  // position: relative;
  flex-basis: 50%;
  display: flex;
  justify-content: space-between;
  flex-basis: (1220 - 624)/1220 * 100%;


}

.screen-text-counter {
  width: 60px;
  height: 60px;
  min-width: 60px;
  background-color: @red-orange;
  border-radius: 50%;
  left: 0;
  top: 0;
  font-size: 26/16 * 1rem;
  position: relative;


  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    letter-spacing: 0;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    line-height: 2;
    line-height: 1;
    font-family: "Playfair Display SC",
      serif;
  }
}



.screen-text {
  font-size: 28/16 * 1rem;
  letter-spacing: 1px;
  line-height: 43/28;
  color: @white;
  font-weight: 700;
  font-style: italic;
  font-family: "Playfair Display SC", serif;
  text-transform: uppercase;
  position: relative;
  padding-top: 10px;
}

.screen-video-layer {
  position: relative;
  flex-basis: 624/1220 * 100%;

  &:before {
    content: '';
    display: block;
    padding-top: 365/624 * 100%
  }
}

.screen-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: -1;
}

.screen-play-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(@white, 0.6);
  cursor: pointer;
  z-index: 31;
  display: flex;
  justify-content: center;
  align-items: center;


  &:hover {
    &:before {
      border-color: @transparent @transparent @transparent @dark-orange;
    }

  }

  &:before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border-width: 12px 0px 12px 20px;
    border-style: solid;
    border-color: @transparent @transparent @transparent @blue;
    transition: border-color 0.25s linear;
  }
}

.screen-f-container {
  flex-wrap: nowrap;
}




////////Animations/////

.fadeIn {
  animation: .75s linear forwards fadeIn;
}

.slideTop {
  animation: 3.5s linear forwards slideTop;
}

.slideBottom {
  animation: 3.5s linear forwards slideBottom;
}


.slideLeft {
  animation: 3.5s linear forwards slideLeft;
}


// transform .6s cubic-bezier(.415, 0, .185, 1)



@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}


@keyframes slideTop {
  from {
    // position: absolute;
    transform: translateY(0);
  }

  to {
    // top: -100%;
    transform: translateY(-9999px);
    display: none;
  }
}


@keyframes slideBottom {
  from {
    // position: absolute;
    transform: translateY(0);
  }

  to {
    // top: -100%;
    transform: translateY(9999px);
    display: none;
  }
}


@keyframes slideLeft {
  from {
    // position: absolute;
    transform: translateY(0);
  }

  to {
    // top: -100%;
    transform: translateX(-9999px);
    display: none;
  }
}


//|||||||||||||||||||COMMON ELEMENTS END|||||||||||||||||||//

//////////////////////////

//////////////////////////

@import url("app/less/_header.less");
@import url("app/less/Popups/_menu.less");
@import url("app/less/_main-screen.less");
@import url("app/less/_screen-2.less");
@import url("app/less/_screen-3.less");
@import url("app/less/_screen-4.less");
@import url("app/less/_screen-5.less");
@import url("app/less/_sidebar.less");
@import url("app/less/_contacts.less");
@import url("app/less/_footer.less");


@import url("app/less/Popups/_play-and-order-popup.less");
@import url("app/less/Popups/_catalog-popup.less");
@import url("app/less/Popups/_cart-popup.less");
@import url("app/less/Popups/_order-popup.less");
@import url("app/less/Popups/_order-call-popup.less");
@import url("app/less/Popups/_call-me-popup.less");
@import url("app/less/Popups/_about-set-popup.less");
@import url("app/less/Popups/_additional-info-popup.less");
@import url("app/less/Popups/_about-manufacturer-popup.less");
@import url("app/less/Popups/_about-toy-popup.less");
@import url("app/less/Popups/_about-cookie-popup.less");
@import url("app/less/Popups/_delivery-popup.less");
@import url("app/less/Popups/_news-popup.less");
@import url("app/less/Popups/_new-popup.less");
@import url("app/less/Popups/_video-popup.less");
@import url("app/less/Popups/_widget.less");



@import url("app/less/_popups.less");
@import url("app/less/_scrollbars.less");
@import url("app/less/_media.less");
@import url("app/less/sprite.less");