/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@s-arrow-menu-ico-name: 's-arrow-menu-ico';
@s-arrow-menu-ico-x: 0px;
@s-arrow-menu-ico-y: 59px;
@s-arrow-menu-ico-offset-x: 0px;
@s-arrow-menu-ico-offset-y: -59px;
@s-arrow-menu-ico-width: 56px;
@s-arrow-menu-ico-height: 10px;
@s-arrow-menu-ico-total-width: 87px;
@s-arrow-menu-ico-total-height: 69px;
@s-arrow-menu-ico-image: 'sprite.png';
@s-arrow-menu-ico: 0px 59px 0px -59px 56px 10px 87px 69px 'sprite.png' 's-arrow-menu-ico';
@s-ball-ico-name: 's-ball-ico';
@s-ball-ico-x: 69px;
@s-ball-ico-y: 0px;
@s-ball-ico-offset-x: -69px;
@s-ball-ico-offset-y: 0px;
@s-ball-ico-width: 18px;
@s-ball-ico-height: 18px;
@s-ball-ico-total-width: 87px;
@s-ball-ico-total-height: 69px;
@s-ball-ico-image: 'sprite.png';
@s-ball-ico: 69px 0px -69px 0px 18px 18px 87px 69px 'sprite.png' 's-ball-ico';
@s-box-icon-name: 's-box-icon';
@s-box-icon-x: 39px;
@s-box-icon-y: 34px;
@s-box-icon-offset-x: -39px;
@s-box-icon-offset-y: -34px;
@s-box-icon-width: 21px;
@s-box-icon-height: 24px;
@s-box-icon-total-width: 87px;
@s-box-icon-total-height: 69px;
@s-box-icon-image: 'sprite.png';
@s-box-icon: 39px 34px -39px -34px 21px 24px 87px 69px 'sprite.png' 's-box-icon';
@s-eco-name: 's-eco';
@s-eco-x: 0px;
@s-eco-y: 0px;
@s-eco-offset-x: 0px;
@s-eco-offset-y: 0px;
@s-eco-width: 30px;
@s-eco-height: 34px;
@s-eco-total-width: 87px;
@s-eco-total-height: 69px;
@s-eco-image: 'sprite.png';
@s-eco: 0px 0px 0px 0px 30px 34px 87px 69px 'sprite.png' 's-eco';
@s-mastercard-ico-name: 's-mastercard-ico';
@s-mastercard-ico-x: 30px;
@s-mastercard-ico-y: 0px;
@s-mastercard-ico-offset-x: -30px;
@s-mastercard-ico-offset-y: 0px;
@s-mastercard-ico-width: 39px;
@s-mastercard-ico-height: 25px;
@s-mastercard-ico-total-width: 87px;
@s-mastercard-ico-total-height: 69px;
@s-mastercard-ico-image: 'sprite.png';
@s-mastercard-ico: 30px 0px -30px 0px 39px 25px 87px 69px 'sprite.png' 's-mastercard-ico';
@s-phone-ico-name: 's-phone-ico';
@s-phone-ico-x: 69px;
@s-phone-ico-y: 18px;
@s-phone-ico-offset-x: -69px;
@s-phone-ico-offset-y: -18px;
@s-phone-ico-width: 11px;
@s-phone-ico-height: 11px;
@s-phone-ico-total-width: 87px;
@s-phone-ico-total-height: 69px;
@s-phone-ico-image: 'sprite.png';
@s-phone-ico: 69px 18px -69px -18px 11px 11px 87px 69px 'sprite.png' 's-phone-ico';
@s-visa-ico-name: 's-visa-ico';
@s-visa-ico-x: 0px;
@s-visa-ico-y: 34px;
@s-visa-ico-offset-x: 0px;
@s-visa-ico-offset-y: -34px;
@s-visa-ico-width: 39px;
@s-visa-ico-height: 25px;
@s-visa-ico-total-width: 87px;
@s-visa-ico-total-height: 69px;
@s-visa-ico-image: 'sprite.png';
@s-visa-ico: 0px 34px 0px -34px 39px 25px 87px 69px 'sprite.png' 's-visa-ico';
@spritesheet-width: 87px;
@spritesheet-height: 69px;
@spritesheet-image: 'sprite.png';
@spritesheet-sprites: @s-arrow-menu-ico @s-ball-ico @s-box-icon @s-eco @s-mastercard-ico @s-phone-ico @s-visa-ico;
@spritesheet: 87px 69px 'sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  background-image: e(%('url(../img/sprites/png/sprite.png)', e(@sprite-image)));
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
