extends pug/base



append vars
	- body.classList.push('home-page')


prepend vars





block links
	// link(rel="preconnect" href="https://fonts.gstatic.com")
	// link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet")


block head-end







block content
	include pug/layouts/header
	main.main
		.main__layout
			.f-container.main__f-container
				section.main__content.fullpage
					include pug/layouts/main-screen
					include pug/layouts/screen-2
					include pug/layouts/screen-3
					include pug/layouts/screen-4
					include pug/layouts/screen-5
				include pug/layouts/sidebar
	include pug/layouts/popups


block scripts
	script(src=`js/libs.min.js?v=${Date.now()}` defer)
	link(rel="preload" href=`js/main.min.js?v=${Date.now()}` as="script")
	script(src=`js/main.min.js?v=${Date.now()}` async)


