.about-set-popup__layout {
    .about-set-popup__info-layer {
        flex-basis: 625/1220 * 100%;
    }

    .about-set-popup__title {
        padding-bottom: 25px;
    }

    .center {
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }


    &>* {
        position: relative;
        z-index: 2;
    }

    .f-container {
        align-items: stretch;
        flex-wrap: nowrap;
    }

    &:before {
        content: '';
        position: absolute;
        width: 780/1460 * 100%;
        height: 675/980 * 100%;
        right: -20px;
        bottom: 45%;
        transform: translateY(50%);
        z-index: 2;
        background: url('../img/bg-pattern-about-set.png') no-repeat right center/contain;

    }

    .about-set-popup__buttons {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 35px;
    }

    .about-set-popup__buttons-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;

        &:not(:last-child) {
            margin-right: 10px;

        }
    }

    .about-set-popup__subtitle {
        span {
            color: @orange;
        }
    }

    .about-set-popup__button {

        &:focus,
        &:visited,
        &:active {
            color: @sky-blue;
        }


        &:hover {
            color: @font-color;
        }

        &:not(:last-child) {
            margin-right: 10px;
        }

        padding: 0 7px;
    }

    .about-set-popup__slider {

        // max-width: 590px;
        // margin: 0 auto;

        &:before {
            content: '';
            position: absolute;
            width: 70%;
            height: 70%;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: url('../img/Djero.png') no-repeat center/contain;
            z-index: 10;
        }
    }

    .about-set-popup__slider-slide {}

    .about-set-popup__slider-track {
        overflow: visible;
    }

    .about-set-popup__slider-list,
    .about-set-popup__slider-slide,
    .about-set-popup__slider-img {
        width: 100%;
    }

    .about-set-popup__slider-img {
        max-height: 415px;
        margin-bottom: 25px;
    }

    .about-set-popup__images-layer {
        flex-basis: (1220 - 625)/1220 * 100%;
        padding-left: 119px - 35px;
    }

    .splide__pagination__page {
        &.is-active {
            background: @red-orange;
        }
    }

    .about-set-popup__slider-text {
        font-size: 18/16 * 1rem;
        font-weight: 400;
        font-family: "Playfair Display SC";
        text-align: center;
    }

    .about-set-popup__icos {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 120px;
        margin: 0 auto;
    }

    .about-set-popup__ico-wrapper {
        position: relative;

        &>.ico {
            position: relative;
            z-index: 2;
        }

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 60px;
            height: 60px;
            background-color: @semi-light-blue;
            z-index: 0;
        }


        &:first-child {
            &:after {
                content: '';
                position: absolute;
                top: 50%;
                right: -15px;
                transform: translateY(-50%);
                width: 1px;
                height: 50px;
                background-color: @blue;
                z-index: 1;
            }
        }
    }

    .about-set-popup__image-wrapper {
        display: flex;

        align-items: center;
    }

    .image-wrapper_top {
        justify-content: flex-end;
    }

    .image-wrapper_middle {
        justify-content: center;
        padding-bottom: 35px;
        padding-left: 25px;

        .about-set-popup__image {
            width: 195/(511 - 25) * 100%;
            min-width: 85px;
            max-width: 195px;
        }
    }

    .image-wrapper_bottom {
        justify-content: space-around;
    }


    .about-set-popup__cookie-image-wrapper {
        flex-basis: 75%;
        padding-right: 90/511 * 100%;
    }

    .about-set-popup__ball-image-wrapper {
        flex-basis: 25%;
    }

    .about-set-popup__ball-image-wrapper {
        .about-set-popup__image {
            margin: 0 auto;
            margin-bottom: 10px;
        }
    }

    .splide__pagination {
        bottom: -70px;
    }
}