.about-set-popup__layout {
    .about-set-popup__buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .about-set-popup__button {
        &:focus,
        &:visited,
        &:active {
            color: @sky-blue;
        }


        &:hover {
            color: @font-color;
        }
    }
}