.delivery-popup__layout {

    .delivery-popup__title {
        padding-bottom: 29px;
    }

    &:before {
        content: '';
        position: absolute;
        width: 49.31506849%;
        height: 68.87755102%;
        left: 0;
        bottom: 0;
        z-index: 4;
        background: url(../img/ball-left.png) left bottom/contain no-repeat;
    }

    & > * {
        position: relative;
        z-index: 5;
    }

    .delivery-section {
        width: 100%;
    }

    .delivery-popup__payment-methods-title {
        text-align: center;
        padding-bottom: 40px;
    }

    .delivery-popup__payment-methods {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        // width: 100%;
         margin: 0 -30px;
    }

    .delivery-popup__payment-methods-layer {
       padding-bottom: 125/1220 * 100%;
    }

    .delivery-popup__payment-methods-card-wrapper {
        // flex-basis: 100/3 * 1%;
        padding: 0 15px;
        padding-bottom: 25px;
        flex-shrink: 0;
        flex-grow: 1;
        max-width: 426.67px;
        min-width: 377.17px;
        flex-basis: 100%;
    }

    .delivery-popup__payment-methods-card {
        position: relative;
        border-radius: 14px;
        background-color: @semi-light-blue;
        border: 1px solid gray;
        padding: 35px 60px;

        &:hover {
            .delivery-popup__ico {
                svg {
                    fill: @orange;
                }
            }
        }
        
        
    }

    .delivery-popup__ico {
        max-width: 85px;
        max-height: 85px;
        margin: 0 auto;

        svg {
            max-width: 85px;
            max-height: 85px;
            fill: @dirty-blue;
            transition: fill 0.25s linear;
        }
    }

    .delivery-popup__payment-methods-card-name {
        text-align: center;
        font-size: 1rem;
        text-transform: uppercase;
        padding-bottom: 15px;
        letter-spacing: 0;
        white-space: nowrap;
    }

    .delivery-popup__payment-services {
        position: absolute;
        top: 20px;
        right: 20px;

        .ico {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }

    .delivery-popup__delivery-methods-title {
        span {
            color: @orange;
        }
    }

    .delivery-popup__delivery-images {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .delivery-popup__return-methods-layer {
        display: flex;
        justify-content: space-between;
        align-items: stretch;

        .popup__text-subtitle_white {
            padding-bottom: 20px;
        }
    }

    .delivery-popup__return-method-text {
        
    }

    .popup__text_white {
        strong {
            font-weight: 700;
        }
    }

    .delivery-popup__delivery-note {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: ((145 + 12.5)/2)/669.5 * 100%;
    }

    .delivery-popup__delivery-note-text {
        max-width: 260px;
        line-height: 24/16 * 1rem;
        span {
            text-transform: uppercase;
            font-weight: 500;
        }
    }

    .delivery-popup__delivery-ico {
        position: relative;
        margin-right: 27px;

        &:before {
            content: '';
            position: absolute;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: @red-orange;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
        }
    }

    .delivery-popup__return-methods_left,
    .delivery-popup__delivery-image-wrapper:first-child {
        flex-basis: (478 + (145/2))/1220 * 100%;
        padding-right: (145/2)/1220 * 100%;
    }

    .delivery-popup__return-methods_right
    {
        flex-basis: ((1220 - (478 + (145/2)))/1220) * 100%;
        padding-left: (145/2)/1220 * 100%;

        .delivery-popup__return-methods {
            padding-right: 35px;
        }
    }

    .delivery-popup__delivery-image-wrapper:last-child {
        flex-basis: ((1220 - (478 + (145/2)))/1220) * 100%;
    }

    .delivery-popup__text-wrapper {
        padding-bottom: 27px;
    }

    .delivery-popup__delivery-time {
        padding-bottom: 60px;
    }

    .delivery-popup__delivery-methods-layer {
        padding-bottom: 155/1220 * 100%;
    }
}