.menu-popup__layout {
    .center {
        max-width: 63.75%;
        margin-left: auto;
        margin-right: unset;
        display: table;
    }

    .menu-popup__list-item {
        display: flex;
        align-items: center;
        height: 80px;
    }

    .menu-popup__link {
        position: relative;
        transition: transform 0.25s linear;

        span {
            .fSize(40vw, 40px * (576/1220), 40px, 576px, 1220px);
            letter-spacing: 2px;
            line-height: 45/40;
            color: @white;
            font-weight: 400;
            font-family: "Playfair Display SC",
                serif;
            text-transform: uppercase;
            transition: 0.25s font linear;

        }


        &:hover {

            transform: translateX(10%);

            span {
                font-weight: 700;
                .fSize(50vw, 50px * (576/1220), 50px, 576px, 1220px);
                line-height: (40/50) * 1.125;
            }

            .arrow-menu-ico {
                display: block;
                animation: slideInLeft 0.25s linear forwards;
            }
        }
    }

    .menu-popup__navigation-layer {
        padding-left: 240/960 * 100%;
        display: table-cell;
        max-width: 100%;
        vertical-align: middle;
        white-space: normal;
    }

    .arrow-menu-ico {
        margin-right: 25px;
        position: absolute;
        transform: translate(-250%, -50%);
        top: 50%;
        left: 0;
        opacity: 0;
        display: none;
    }


    .menu-popup__background-layer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        pointer-events: none;
    }

    .menu-popup__background-img {
        position: absolute;
        top: 500/920 * 100%;
        left: 77/1600 * 100%;
        width: 520/1600 * 100%;
    }

    .menu-popup__background-img-2 {
        position: absolute;
        top: 70/920 * 100%;
        left: 77/1600 * 100%;
        width: 520/1600 * 100%;
    }

    .menu-popup__background-img-3 {
        position: absolute;
        top: 70/920 * 100%;
        left: 610/1600 * 100%;
        width: 67/1600 * 100%;
        min-width: 45px;
    }

    .menu-popup__background-img-4 {
        position: absolute;
        top: 740/920 * 100%;
        left: 650/1600 * 100%;
        width: 85/1600 * 100%;
        min-width: 45px;
    }

    .menu-popup__background-img-5 {

        position: absolute;
        top: 390/920 * 100%;
        left: 370/1600 * 100%;
        width: 85/1600 * 100%;
        min-width: 45px;
    }


}


@keyframes slideInLeft {
    from {
        display: none;
        opacity: 0;
        transform: translate(-250%, -50%);
    }

    to {
        display: block;
        opacity: 1;
        transform: translate(-150%, -50%);
    }
}