<!-- dialog itself, mfp-hide class is required to make dialog hidden -->
.popup.about-set-popup.fullpage-section.section.screen
	.popup__layout.about-set-popup__layout
		.center 
			h2.popup__title.h2-title.about-set-popup__title
				|Про набір
			p.subtitle.about-set-popup__subtitle
				span
					|Печиво-сендвіч - 
				|талісман для Djero та ключ до перемог
			.f-container
				.about-set-popup__info-layer
					.about-set-popup__info
						.about-set-popup__buttons
							a.about-set-popup__button.btn.small.sky-blue.open-popup-link-about-set(href="#about-manufacturer-popup")
								span
									|Про виробника
							a.about-set-popup__button.btn.small.sky-blue.open-popup-link-about-set(href="#about-cookie-popup")
								span
									|Про печиво
							a.about-set-popup__button.btn.small.sky-blue.open-popup-link-about-set(href="#additional-info-popup")
								span
									|Додаткова інформація
							a.about-set-popup__button.btn.small.sky-blue.open-popup-link-about-set(href="#about-toy-popup")
								span
									|Про іграшку
						.splide.about-set-popup__slider#about-set-popup__slider
							.splide__track.about-set-popup__slider-track
								ul.splide__list.about-set-popup__slider-list
									li.splide__slide.about-set-popup__slider-slide
										img.about-set-popup__slider-img(data-src="img/about-set-slider-image-1.png", alt="Cookie Box")
									li.splide__slide.about-set-popup__slider-slide
										img.about-set-popup__slider-img(data-src="img/about-set-slider-image-2.png", alt="Cookie Box")
									li.splide__slide.about-set-popup__slider-slide
										img.about-set-popup__slider-img(data-src="img/about-set-slider-image-3.png", alt="Cookie Box")
									li.splide__slide.about-set-popup__slider-slide
										img.about-set-popup__slider-img(data-src="img/about-set-slider-image-4.png", alt="Cookie Box")
									li.splide__slide.about-set-popup__slider-slide
										img.about-set-popup__slider-img(data-src="img/about-set-slider-image-5.png", alt="Cookie Box")
				.about-set-popup__images-layer
					.about-set-popup__images