<!-- dialog itself, mfp-hide class is required to make dialog hidden -->
#about-cookie-popup.popup.about-cookie-popup.mfp-hide.zoom-anim-dialog.popup_third
	a.close-popup.close-popup_secondary.open-popup-link-second-branch(href="#second-branch-popup")
		span
		span
	.popup__layout_third.about-cookie-popup__layout
		.center 
			h2.popup__title.h2-title.about-cookie-popup__title
				|Про печиво
			p.popup__subtitle.about-cookie-popup__subtitle
				|Печиво-сендвіч із вмістом какао та ароматом ванілі
			.about-cookie-popup__text-layer
				p.about-cookie__text.popup__text
					|Борошно пшеничне вищого сорту, цукор, жир кондитерський (жири та олії рослинні рафіновані дезодоровані:
					|олія пальмова та її фракції, емульгатори (E433, E471), антиоксидант (E306)), жир кондитерський (олія пальмова та її фракції рафіновані вибілені дезодоровані, антиоксиданти (E304, E306)), какао-порошок, сіль кухонна, молоко сухе незбиране, емульгатор лецитин соєвий, розпушувач натрій двовуглекислий, регулятот кислотності кислота лимонна, ароматизатор «Ваніль», регулятот кислотності кислота лимонна.
				.about-cookie__consist-tables-wrapper
					table.table
						thead.table-head
							tr.table-row
								th.table-head-cell(scope='col')
									|Склад
								th.table-head-cell(scope='col')
									|Вага
						tbody.table-body
							tr.table-row
								td.table-cell Білки
								td.table-cell 5,7 г.
							tr.table-row
								td.table-cell Жири
								td.table-cell 21,6 г.
							tr.table-row
								td.table-cell з них насичені жирні кислоти
								td.table-cell 4,1 г.
							tr.table-row
								td.table-cell Вуглеводи
								td.table-cell 63,5 г.
							tr.table-row
								td.table-cell (із них цукрів)
								td.table-cell 30,8 г.
							tr.table-row
								td.table-cell Крохмаль і полісахариди
								td.table-cell 32,7 г.
							tr.table-row
								td.table-cell Сіль
								td.table-cell 0,4 г.
							tr.table-row
								td.table-cell Харчові волокна
								td.table-cell 2,4 г.
							tr.table-row
								td.table-cell Органічні кислоти
								td.table-cell 0,1 г.
							tr.table-row
								td.table-cell Калорійність (ккал)
								td.table-cell 478 г.
						tfoot.table-footer
							tr.table-row
								td.table-cell Енергетична цінність (кДж)
								td.table-cell 2000 г.
					table.table
						thead.table-head
							tr.table-row
								th.table-head-cell(scope='col')
									|Склад
								th.table-head-cell(scope='col')
									|Вага
						tbody.table-body
							tr.table-row
								td.table-cell Білки
								td.table-cell 0,9 г.
							tr.table-row
								td.table-cell Жири
								td.table-cell 2,7 г.
							tr.table-row
								td.table-cell Вуглеводи
								td.table-cell 8,4 г.
						tfoot.table-footer
							tr.table-row
								td.table-cell Калорійність (кДж)
								td.table-cell 62,8 г.
				p.about-cookie__text.popup__text
					|Містить продукти переробки пшениці, молока, сої. Може вміщувати в незначній кількості ядра арахісу смажені подрібнені.
				p.about-cookie__text.popup__text
					strong
						|Термін придатності - 1 рік 
					|із дати вирробництва, вказаної на упаковці.