<!-- dialog itself, mfp-hide class is required to make dialog hidden -->
.popup.about-set-popup.fullpage-section.section.screen
	.popup__layout.about-set-popup__layout
		.center 
			h2.popup__title.h2-title.about-set-popup__title
				|Про набір