<!-- dialog itself, mfp-hide class is required to make dialog hidden -->
.popup.about-set-popup.fullpage-section.section.screen.full-height
	.popup__layout.about-set-popup__layout.is-screen
		.center 
			h2.popup__title.h2-title.about-set-popup__title
				|Про набір
			p.subtitle.about-set-popup__subtitle
				span
					|Печиво-сендвіч - 
				|талісман для Djero та ключ до перемог
			.f-container
				.about-set-popup__info-layer
					.about-set-popup__info
						.about-set-popup__buttons
							.about-set-popup__buttons-row
								a.about-set-popup__button.btn.small.sky-blue.open-popup-link-about-set(href="#about-manufacturer-popup")
									span
										|Про виробника
								a.about-set-popup__button.btn.small.sky-blue.open-popup-link-about-set(href="#about-cookie-popup")
									span
										|Про печиво
							.about-set-popup__buttons-row
								a.about-set-popup__button.btn.small.sky-blue.open-popup-link-about-set(href="#additional-info-popup")
									span
										|Додаткова інформація
								a.about-set-popup__button.btn.small.sky-blue.open-popup-link-about-set(href="#about-toy-popup")
									span
										|Про іграшку
						.splide.about-set-popup__slider#about-set-popup__slider
							.splide__track.about-set-popup__slider-track
								ul.splide__list.about-set-popup__slider-list
									li.splide__slide.about-set-popup__slider-slide
										img.about-set-popup__slider-img(data-src="img/about-set-slider-image-1.png", alt="Cookie Box")
										p.about-set-popup__slider-text
											|Ідеально до сніданку
									li.splide__slide.about-set-popup__slider-slide
										img.about-set-popup__slider-img(data-src="img/about-set-slider-image-2.png", alt="Cookie Box")
										p.about-set-popup__slider-text
											|Смачно з молоком або чаєм
									li.splide__slide.about-set-popup__slider-slide
										img.about-set-popup__slider-img(data-src="img/about-set-slider-image-3.png", alt="Cookie Box")
										p.about-set-popup__slider-text
											|Поживний перекус на навчанні
									li.splide__slide.about-set-popup__slider-slide
										img.about-set-popup__slider-img(data-src="img/about-set-slider-image-4.png", alt="Cookie Box")
										p.about-set-popup__slider-text
											|Завжди з тобою в подорожах
									li.splide__slide.about-set-popup__slider-slide
										img.about-set-popup__slider-img(data-src="img/about-set-slider-image-5.png", alt="Cookie Box")
										p.about-set-popup__slider-text
											|Особливо смакує на відпочинку
				.about-set-popup__images-layer
					.about-set-popup__images
						.about-set-popup__image-wrapper.image-wrapper_top
							img.about-set-popup__image(src="img/cookie-box-2.png" alt="")
						.about-set-popup__image-wrapper.image-wrapper_middle
							img.about-set-popup__image(src="img/cookies.png" alt="")
						.about-set-popup__image-wrapper.image-wrapper_bottom
							.about-set-popup__cookie-image-wrapper
								img.about-set-popup__image(src="img/cookies-pack-2.png" alt="")
							.about-set-popup__ball-image-wrapper
								img.about-set-popup__image(src="img/ball-2.png" alt="")
								.about-set-popup__icos
									.about-set-popup__ico-wrapper
										i.ico.ico-0-3.about-set-popup__ico
									.about-set-popup__ico-wrapper
										i.ico.eco-ico.about-set-popup__ico