<!-- dialog itself, mfp-hide class is required to make dialog hidden -->
#about-toy-popup.popup.about-toy-popup.mfp-hide.zoom-anim-dialog.popup_third
	a.close-popup.close-popup_secondary.open-popup-link-second-branch(href="#second-branch-popup")
		span
		span
	.popup__layout_secondary.about-toy-popup__layout
		.center 
			h2.popup__title.h2-title.about-toy-popup__title
				|Зателефонувати мені
			.about-toy-popup__form-layer
				form#about-toy-popup__form.about-toy-popup__form(method="POST")
					fieldset.fieldset
						.field-row.about-toy-popup__field-row
							.field-wrapper.about-toy-popup__field-wrapper
								input.field(type="tel" placeholder=" " id="about-toy-tel-input")
								label.text-field-label(for="about-toy-tel-input")
									|Ваш номер телефону
						.field-row.about-toy-popup__field-row
							button.popup__btn.about-toy-popup__btn.btn.red-orange.big(type="submit")
								span
									|Зателефонуйте