<!-- dialog itself, mfp-hide class is required to make dialog hidden -->
#about-cookie-popup.popup.about-cookie-popup.mfp-hide.zoom-anim-dialog.popup_third
	a.close-popup.close-popup_secondary.open-popup-link-second-branch(href="#second-branch-popup")
		span
		span
	.popup__layout_secondary.about-cookie-popup__layout
		.center 
			h2.popup__title.h2-title.about-cookie-popup__title
				|Про печиво
			.about-cookie-popup__text-layer
				p.about-cookie__text.popup__text
					|Борошно пшеничне вищого сорту, цукор, жир кондитерський (жири та олії рослинні рафіновані дезодоровані:
					|олія пальмова та її фракції, емульгатори (E433, E471), антиоксидант (E306)), жир кондитерський (олія пальмова та її фракції рафіновані вибілені дезодоровані, антиоксиданти (E304, E306)), какао-порошок, сіль кухонна, молоко сухе незбиране, емульгатор лецитин соєвий, розпушувач натрій двовуглекислий, регулятот кислотності кислота лимонна, ароматизатор «Ваніль», регулятот кислотності кислота лимонна.
				.about-cookie__consist-tables-wrapper
					table.table
						thead
							tr
								th(scope='col')
									|Склад
								th(scope='col')
									|Вага
						tbody
							tr
								td Білки
								td 5,7 г.
							tr
								td Жири
								td 21,6 г.
							tr
								td з них насичені жирні кислоти
								td 4,1 г.
							tr
								td Вуглеводи
								td 63,5 г.
							tr
								td (із них цукрів)
								td 30,8 г.
							tr
								td Крохмаль і полісахариди
								td 32,7 г.
							tr
								td Сіль
								td 0,4 г.
							tr
								td Харчові волокна
								td 2,4 г.
							tr
								td Органічні кислоти
								td 0,1 г.
							tr
								td Калорійність (ккал)
								td 478 г.
						tfoot
							tr
								td Енергетична цінність (кДж)
								td 2000 г.
					table.table
						thead
							tr
								th(scope='col')
									|Склад
								th(scope='col')
									|Вага
						tbody
							tr
								td Білки
								td 0,9 г.
							tr
								td Жири
								td 2,7 г.
							tr
								td Вуглеводи
								td 8,4 г.
						tfoot
							tr
								td Калорійність (кДж)
								td 62,8 г.
				p.about-cookie__text.text_bg-blue.popup__text
					|Містить продукти переробки пшениці, молока, сої. Може вміщувати в незначній кількості ядра арахісу смажені подрібнені.
				p.about-cookie__text.text_bg-blue.popup__text
					|Термін придатності - 1 рік із дати вирробництва, вказаної на упаковці.