<!-- dialog itself, mfp-hide class is required to make dialog hidden -->
#about-manufacturer-popup.popup.about-manufacturer-popup.mfp-hide.zoom-anim-dialog.popup_third
	a.close-popup.close-popup_secondary.open-popup-link-second-branch(href="#second-branch-popup")
		span
		span
	.popup__layout_secondary.about-manufacturer-popup__layout
		.center 
			h2.popup__title.h2-title.about-manufacturer-popup__title
				|Про виробника
			.about-manufacturer-popup__text-layer
				p.about-manufacturer__text.popup__text
					|Вироблено на сучасних поточно-механізованих лініях за класичною рецептурою на підприємстві 
					strong
						|ТОВ «ФАБРИКА ПЕЧИВА №1».
				p.about-manufacturer__text.popup__text
					|Виробництво компанії сертифіковане за міжнародною системою менеджменту якості 
					strong
						|ISO 22000: 2005, ISO 9001: 2015, 
					|також отриманий сертифікат якості HALAL CERTIFICATE. Введена система забезпечення безпеки харчової продукції НАССР, яка дає можливість своєчасно попередити виникнення будь-яких ризиків.
				p.about-manufacturer__text.text_bg-blue.popup__text
					|Адреса виробничих потужностей: Вінницька обл., Козятинський р-н., с. Махнівка, 
					br
					|вул. Шкільна, 57. 
					strong
						|ДСТУ- 3781:2014