<!-- dialog itself, mfp-hide class is required to make dialog hidden -->
#additional-info-popup.popup.additional-info-popup.mfp-hide.zoom-anim-dialog.popup_third
	a.close-popup.close-popup_secondary.open-popup-link-second-branch(href="#second-branch-popup")
		span
		span
	.popup__layout_third.additional-info-popup__layout
		.center 
			h2.popup__title.h2-title.additional-info-popup__title
				|Додаткова інформація
			.additional-info-popup__text-layer
				.additional-info-popup__text-wrapper
					.additional-info__storage-conditions.additional-info-popup__text
						h3.additional-info__storage-conditions-title.popup__text-subtitle
							|Умови зберігання
						p.additional-info__storage-conditions-text.popup__text
							|Зберігати при температурі (18±5)°C та відносній вологості не більше 75%. Печиво не повинно зазнавати впливу прямих сонячних променів.
					.additional-info__storage-conditions.additional-info-popup__text
						h3.additional-info__made-title.popup__text-subtitle
							|Виготовлено на замовлення
						p.additional-info__made-text.popup__text
							|ФОП Пасічник С.С. Адреса: Вінницька обл., Козятинський р-н., с. Махнівка, вул. Київська, 53 
							br
							|кв.4. Тел. +380679312635