<!-- dialog itself, mfp-hide class is required to make dialog hidden -->
#call-me-popup.popup.call-me-popup.mfp-hide.zoom-anim-dialog.popup_secondary
	.close-popup.close-popup-btn.close-popup_secondary
		span
		span
	.popup__layout_secondary.call-me-popup__layout
		.center 
			h2.popup__title.h2-title.call-me-popup__title
				|Зателефонувати мені
			section.call-me-popup__form-layer
				form#call-me-popup__form.call-me-popup__form(method="POST")
					fieldset.fieldset
						.field-row.call-me-popup__field-row
							.field-wrapper.call-me-popup__field-wrapper
								input.field(type="tel" placeholder=" " id="call-me-tel-input" required name="phone")
								label.text-field-label(for="call-me-tel-input")
									|Ваш номер телефону
						input.field(type="hidden" name="subject" value="Форма зворотнього зв'язку із каталога (замовити піддон)")
						.field-row.call-me-popup__field-row
							button.popup__btn.call-me-popup__btn.btn.red-orange.big(type="submit")
								span
									|Зателефонуйте