<!-- dialog itself, mfp-hide class is required to make dialog hidden -->
#cart-popup.popup.cart-popup 
	.popup__layout.cart-popup__layout
		.center 
			h2.popup__title.h2-title.cart-popup__title
				|Корзина
			.popup__cards.cart-popup__cards
				.popup__card-layer.cart-popup__card-layer
					.popup__card.cart-popup__card
						figure.popup__card-boxing.cart-popup__card-boxing
							.popup__card-img-wrapper.cart-popup__card-img-wrapper
								img.popup__card-img.cart-popup__card-img(src="img/cookies-sandwich-big.png" alt="Cookies box")
							figcaption.popup__card-mass.cart-popup__card-mass
								span
									|1 упаковка
								span
									|* 120 г.
						p.popup__card-price.cart-popup__card-price
							|35 грн.
						.popup__card-quantity.cart-popup__card-quantity
							span.popup__card-quantity-minus.popup__card-quantity-control.cart-popup__card-quantity-minus
								|-
							span.popup__card-quantity-count.popup__card-quantity-count
								|2
							span.popup__card-quantity-plus.popup__card-quantity-control.cart-popup__card-quantity-plus
								|+
						p.popup__card-total-price.cart-popup__card-total-price
							|70 грн.
						button.popup__basket-remove.cart-popup__basket-remove.transparent-btn
							i.ico.rubbish-ico.cart-popup__rubbish-ico
								+svg2('rubbish-bin')
							span
								|Прибрати з корзини
				.popup__card-layer.cart-popup__card-layer
					.popup__card.cart-popup__card
						figure.popup__card-boxing.cart-popup__card-boxing
							.popup__card-img-wrapper.cart-popup__card-img-wrapper
								img.popup__card-img.cart-popup__card-img(src="img/box.png" alt="Cookies box")
							figcaption.popup__card-mass.cart-popup__card-mass
								span
									|1 ящик (30 упаковок)
								span
									|* 3,6 кг.
						p.popup__card-price.cart-popup__card-price
							|850 грн.
						.popup__card-quantity.cart-popup__card-quantity
							span.popup__card-quantity-minus.popup__card-quantity-control.cart-popup__card-quantity-minus
								|-
							span.popup__card-quantity-count.popup__card-quantity-count
								|1
							span.popup__card-quantity-plus.popup__card-quantity-control.cart-popup__card-quantity-plus
								|+
						p.popup__card-total-price.cart-popup__card-total-price
							|850 грн.
				.popup__card-layer.cart-popup__card-layer
					.popup__card.cart-popup__card
						figure.popup__card-boxing.cart-popup__card-boxing
							.popup__card-img-wrapper.cart-popup__card-img-wrapper
								img.popup__card-img.cart-popup__card-img(src="img/pallet.png" alt="Pallet")
							figcaption.popup__card-mass.cart-popup__card-mass
								span
									|Піддон
						p.popup__card-price.cart-popup__card-price
							|8000 грн.
						.popup__card-quantity.cart-popup__card-quantity
							span.popup__card-quantity-minus.popup__card-quantity-control.cart-popup__card-quantity-minus
								|-
							span.popup__card-quantity-count.popup__card-quantity-count
								|5
							span.popup__card-quantity-plus.popup__card-quantity-control.cart-popup__card-quantity-plus
								|+
						p.popup__card-total-price.cart-popup__card-total-price
							|40000 грн.
			p.popup__note.cart-popup__note
				|* Вага нетто
			.cart-popup__summary
				.popup__card-btn-wrapper.cart-popup__card-btn-wrapper
					a.popup__card-btn.cart-popup__card-btn.btn.transparent.close-popup-btn(href='#')
						span
							|На головну
				button.popup__basket-clear.cart-popup__basket-clear.transparent-btn
					span
						|Очистити корзину
				.cart-popup__total
					p.popup__total-price.cart-popup__total-price 
						|70 грн.
					a.popup__btn.cart-popup__btn.btn.red-orange.open-popup-link(href='#order-popup')
						span
							|Оформити замовлення