<!-- dialog itself, mfp-hide class is required to make dialog hidden -->
#cart-popup.popup.cart-popup.mfp-hide.zoom-anim-dialog.payment-popup
	.popup__layout.cart-popup__layout
		.center 
			h2.popup__title.h2-title.cart-popup__title
				|Корзина
			.popup__cart.cart-popup__cart