<!-- dialog itself, mfp-hide class is required to make dialog hidden -->
.delivery-popup.popup.fullpage-section.section.screen
	.delivery-popup__layout.popup__layout
		.center 
			h2.popup__title.h2-title.delivery-popup__title
				|Оплата, доставка та повернення
			.f-container
				section.delivery-popup__payment-methods-layer.delivery-section
					h3.delivery-popup__payment-methods-title.popup__text-subtitle_white
						|Як оплачувати?
					.delivery-popup__payment-methods
						.delivery-popup__payment-methods-card-wrapper
							.delivery-popup__payment-methods-card.payment-methods-card
								p.delivery-popup__payment-methods-card-name
									|На карту
								i.ico.delivery-popup__ico
									+svg2('cash')
								.delivery-popup__payment-services 
									i.ico.visa-ico
									i.ico.mastercard-ico
						.delivery-popup__payment-methods-card-wrapper
							.delivery-popup__payment-methods-card
								p.delivery-popup__payment-methods-card-name
									|На розрахунковий рахунок
								i.ico.delivery-popup__ico
									+svg2('list')
						.delivery-popup__payment-methods-card-wrapper
							.delivery-popup__payment-methods-card 
								p.delivery-popup__payment-methods-card-name
									|Накладний платіж
								i.ico.delivery-popup__ico
									+svg2('wallet')
				section.delivery-popup__delivery-methods-layer.delivery-section
					h3.delivery-popup__delivery-methods-title.popup__text-subtitle_white
						|Доставимо печиво Новою Поштою
						br
						span
							|в будь яке місто України!
					.delivery-popup__delivery-images
						.delivery-popup__delivery-image-wrapper
							img.delivery-popup__delivery-image(src="img/map.png", alt="Map")
						.delivery-popup__delivery-image-wrapper
							img.delivery-popup__delivery-image(src="img/boxes.png", alt="Boxes")
							.delivery-popup__delivery-note
								i.delivery-popup__delivery-ico.ico.box-ico
								p.delivery-popup__delivery-note-text
									|Доставка замовлень на суму від 500 грн – 
									span
										|безкоштовно!
				section.delivery-popup__return-methods-layer.delivery-section
					.delivery-popup__return-methods_left
						.delivery-popup__delivery-time
							h3.delivery-popup__delivery-time-title.popup__text-subtitle_white
								|Скільки чекати?
							.delivery-popup__text-wrapper
								p.delivery-popup__delivery-time-text.popup__text_white
									|Замовлення, які надійдуть після 14:00 будуть надіслані наступного дня.
							.delivery-popup__text-wrapper
								p.delivery-popup__delivery-time-text.popup__text_white
									|Максимальні терміни доставки – 
									strong
										|2 доби.
						.delivery-popup__return-money
							h3.delivery-popup__return-money-title.popup__text-subtitle_white
								|Що потрібно зробити для повернення коштів?
							.delivery-popup__text-wrapper
								p.delivery-popup__return-money-text.popup__text_white
									|Надішліть свої банківські реквізити (номер карти, ПІБ власника АБО р/р, ПІБ власника, МФО банку, код ЄДРПОУ) на нашу електронну адресу office@djero.com.ua та вкажіть у темі листа: «Повернення коштів за № замовлення».
					.delivery-popup__return-methods_right
						.delivery-popup__return-methods
							h3.delivery-popup__return-method-title.popup__text-subtitle_white
								|Повернення товару
							.delivery-popup__text-wrapper
								p.delivery-popup__return-method-text.popup__text_white
									|При отриманні замовлення уважно оглядайте його ще у відділенні служби доставки.
								p.delivery-popup__return-method-text.popup__text_white
									|Згідно з постановою 
									strong
										|Кабінету Міністрів України від 19.03.1994 року № 172 
									|продукти харчування з нормальними термінами придатності і належної якості обміну та поверненню не підлягають.
								p.delivery-popup__return-method-text.popup__text_white
									|Продукти харчування неналежної якості (браковані, зіпсовані) підлягають обміну та поверненню за умови недотримання продавцем умов продажу товару – якщо продукт був спочатку бракований, а не при транспортуванні або зберіганні на складах перевізників.
							.delivery-popup__text-wrapper
								p.delivery-popup__return-method-text.popup__text_white
									|Товари, які підлягають поверненню, повертаються зручним для покупця способом, після узгодження з менеджером.
								p.delivery-popup__return-method-text.popup__text_white
									|Не викидайте чек! При поверненні він знадобиться для підтвердження покупки в інтернет-магазині djero.com.ua.
							.delivery-popup__text-wrapper
								p.delivery-popup__return-method-text.popup__text_white
									|Транспортні витрати оплачуєте ви як ініціатор повернення. Після цього ми повернемо вам кошти за товар на розрахунковий рахунок або карту клієнта 
									strong
										|протягом 1-3 робочих днів 
									|з моменту отримання повернення.