<!-- dialog itself, mfp-hide class is required to make dialog hidden -->
.delivery-popup.popup.fullpage-section.section.screen
	.delivery-popup__layout.popup__layout.is-screen
		.center 
			h2.popup__title.h2-title.delivery-popup__title
				|Оплата, доставка та повернення
			.f-container
				//- section.delivery-popup__payment-methods-layer.delivery-section
				//- 	h3.delivery-popup__payment-methods-title.popup__text-subtitle_white
				//- 		|Як оплачувати?
				//- 	.delivery-popup__payment-methods
				//- 		.delivery-popup__payment-methods-card-wrapper
				//- 			.delivery-popup__payment-methods-card.payment-methods-card
				//- 				p.delivery-popup__payment-methods-card-name
				//- 					|На карту
				//- 				i.ico.delivery-popup__ico
				//- 					+svg2('cash')
				//- 				.delivery-popup__payment-services 
				//- 					i.ico.visa-ico
				//- 					i.ico.mastercard-ico
				//- 		.delivery-popup__payment-methods-card-wrapper
				//- 			.delivery-popup__payment-methods-card
				//- 				p.delivery-popup__payment-methods-card-name
				//- 					|На розрахунковий рахунок
				//- 				i.ico.delivery-popup__ico
				//- 					+svg2('list')
				//- 		.delivery-popup__payment-methods-card-wrapper
				//- 			.delivery-popup__payment-methods-card 
				//- 				p.delivery-popup__payment-methods-card-name
				//- 					|Накладний платіж
				//- 				i.ico.delivery-popup__ico
				//- 					+svg2('wallet')
				section.delivery-popup__delivery-methods-layer.delivery-section
					h3.delivery-popup__delivery-methods-title.popup__text-subtitle_white
						|Доставимо печиво Новою Поштою
						br
						span
							|в будь яке місто України!
					.delivery-popup__delivery-images
						.delivery-popup__delivery-image-wrapper
							img.delivery-popup__delivery-image(src="img/map.png", alt="Map")
						.delivery-popup__delivery-image-wrapper
							img.delivery-popup__delivery-image(src="img/boxes.png", alt="Boxes")
							.delivery-popup__delivery-note
								i.delivery-popup__delivery-ico.ico.box-ico
								p.delivery-popup__delivery-note-text
									|Доставка замовлень на суму від 500 грн – 
									span
										|безкоштовно!