<!-- dialog itself, mfp-hide class is required to make dialog hidden -->
#menu-popup.popup.menu-popup.mfp-hide.zoom-anim-dialog
	.close-popup.close-popup-btn.close-popup_menu
		span
		span
	.popup__layout.menu-popup__layout
		.menu-popup__background-layer
			.menu-popup__background
				img.menu-popup__background-img(src="img/cookies-pack.png")
				img.menu-popup__background-img-2(src="img/cookies-pack-2.png")
				img.menu-popup__background-img-3(src="img/cookie.png")
				img.menu-popup__background-img-4(src="img/cookie-2.png")
				img.menu-popup__background-img-5(src="img/cookie-3.png")
		.center
			.menu-popup__navigation-layer
				nav.menu-popup__navigation
					ul.menu-popup__list
						li.menu-popup__list-item
							
							a.menu-popup__link.menu-link(href="#" data-is-popup="false" data-to="main-screen" data-position="menu")
								i.ico.arrow-menu-ico
								span
									|Головна
						li.menu-popup__list-item
							i.ico.arrow-menu-ico
							a.menu-popup__link.menu-link(href="#" data-is-popup="true" data-to="about-set" data-position="menu")
								i.ico.arrow-menu-ico
								span
									|Про набір
						li.menu-popup__list-item
							i.ico.arrow-menu-ico
							a.menu-popup__link.menu-link(href="#" data-is-popup="true" data-to="news" data-position="menu")
								i.ico.arrow-menu-ico
								span
									|Новини
						li.menu-popup__list-item
							i.ico.arrow-menu-ico
							a.menu-popup__link.menu-link(href="#" data-is-popup="true" data-to="delivery" data-position="menu")
								i.ico.arrow-menu-ico
								span
									|Доставка
						li.menu-popup__list-item
							i.ico.arrow-menu-ico
							a.menu-popup__link.menu-link(href="#" data-is-popup="false" data-to="contacts" data-position="menu")
								i.ico.arrow-menu-ico
								span
									|Контакти