<!-- dialog itself, mfp-hide class is required to make dialog hidden -->
#menu-popup.popup.menu-popup.mfp-hide.zoom-anim-dialog
	.close-popup.close-popup-btn.close-popup_menu
		span
		span
	.popup__layout.menu-popup__layout
		.center
			.menu-popup__navigation-layer
				nav.menu-popup__navigation
					ul.menu-popup__list
						li.menu-popup__list-item
							
							a.menu-popup__link(href="#")
								i.ico.arrow-menu-ico
								span
									|Головна
						li.menu-popup__list-item
							i.ico.arrow-menu-ico
							a.menu-popup__link(href="#")
								i.ico.arrow-menu-ico
								span
									|Про набір
						li.menu-popup__list-item
							i.ico.arrow-menu-ico
							a.menu-popup__link(href="#")
								i.ico.arrow-menu-ico
								span
									|Новини
						li.menu-popup__list-item
							i.ico.arrow-menu-ico
							a.menu-popup__link(href="#")
								i.ico.arrow-menu-ico
								span
									|Доставка
						li.menu-popup__list-item
							i.ico.arrow-menu-ico
							a.menu-popup__link(href="#contacts")
								i.ico.arrow-menu-ico
								span
									|Контакти