<!-- dialog itself, mfp-hide class is required to make dialog hidden -->
.news-popup.popup.fullpage-section.section.screen.full-height
	.news-popup__layout.popup__layout.is-screen
		.center 
			h2.popup__title.h2-title.news-popup__title
				|Новини
			.f-container
				.news-popup__cards-layer
					.news-popup__cards
						.news-popup__card-wrapper
							a.news-popup__card.open-popup-link-new(href="#new-popup" rel="noreferrer noopener")
								.news-popup__card-img-wrapper
									img.news-popup__card-img(src="img/slider-photo2.png" alt="Image")
								.news-popup__card-content
									time.news-popup__card-date
										|19.05.2021
									h3.news-popup__card-title
										|Виставка продуктів харчування
									p.news-popup__card-text
										|Lorem ipsum dolor sit amet consectetur adipisicing elit. 
										|Eveniet blanditiis perferendis officia velit quisquam dolorum quae a molestiae itaque corporis reprehenderit eos earum et magni ullam, provident perspiciatis fuga totam.
									.news-popup__card-more
										|Читати далі
						.news-popup__card-wrapper
							a.news-popup__card.open-popup-link-new(href="#new-popup" rel="noreferrer noopener")
								.news-popup__card-img-wrapper
									img.news-popup__card-img(src="img/slider-photo2.png" alt="Image")
								.news-popup__card-content
									time.news-popup__card-date
										|19.05.2021
									h3.news-popup__card-title
										|Виставка продуктів харчування
									p.news-popup__card-text
										|Lorem ipsum dolor sit amet consectetur adipisicing elit. 
										|Eveniet blanditiis perferendis officia velit quisquam dolorum quae a molestiae itaque corporis reprehenderit eos earum et magni ullam, provident perspiciatis fuga totam.
									.news-popup__card-more
										|Читати далі
						.news-popup__card-wrapper.news-popup-card_big
							a.news-popup__card.open-popup-link-new(href="#new-popup" rel="noreferrer noopener")
								.screen-play-video.no-video-play
								.news-popup__card-img-wrapper
									img.news-popup__card-img(src="img/slider-photo2.png" alt="Image")
								.news-popup__card-content
									time.news-popup__card-date
										|19.05.2021
									h3.news-popup__card-title
										|Виставка продуктів харчування
									p.news-popup__card-text
										|Lorem ipsum dolor sit amet consectetur adipisicing elit. 
										|Eveniet blanditiis perferendis officia velit quisquam dolorum quae a molestiae itaque corporis.
						.news-popup__card-wrapper
							a.news-popup__card.open-popup-link-new(href="#new-popup" rel="noreferrer noopener")
								.news-popup__card-img-wrapper
									img.news-popup__card-img(src="img/slider-photo2.png" alt="Image")
								.news-popup__card-content
									time.news-popup__card-date
										|19.05.2021
									h3.news-popup__card-title
										|Виставка продуктів харчування
									p.news-popup__card-text
										|Lorem ipsum dolor sit amet consectetur adipisicing elit. 
										|Eveniet blanditiis perferendis officia velit quisquam dolorum quae a molestiae itaque corporis reprehenderit eos earum et magni ullam, provident perspiciatis fuga totam.
									.news-popup__card-more
										|Читати далі