<!-- dialog itself, mfp-hide class is required to make dialog hidden -->
#order-popup.popup.order-popup.mfp-hide.zoom-anim-dialog.payment-popup
	.popup__layout.order-popup__layout
		.center 
			h2.popup__title.h2-title.order-popup__title
				|Оформити замовлення
			.f-container.order-popup__f-container