<!-- dialog itself, mfp-hide class is required to make dialog hidden -->
#play-and-order-popup.popup.play-and-order-popup.mfp-hide.zoom-anim-dialog
	.popup__layout.play-and-order-popup__layout
		.center 
			h2.popup__title.h2-title.play-and-order-popup__title
				|Моє печиво - твоє печиво!
			.popup__cards.play-and-order-popup__cards
				.popup__card-layer.play-and-order-popup__card-layer
					.popup__card.play-and-order-popup__card
						figure.popup__card-boxing.play-and-order-popup__card-boxing
							.popup__card-img-wrapper.play-and-order-popup__card-img-wrapper
								img.popup__card-img.play-and-order-popup__card-img(src="img/cookies-sandwich-big.png" alt="Cookies box")
							figcaption.popup__card-mass.play-and-order-popup__card-mass
								span
									|1 упаковка
								span
									|* 120 г.
						.popup__card-description.play-and-order-popup__card-description
							p.popup__card-price.play-and-order-popup__card-price
								|35 грн.
							.popup__card-tariff-wrapper.play-and-order-popup__card-tariff-wrapper
								i.ico.box-ico
								p.popup__card-tariff.play-and-order-popup__card-tariff 
									|За тарифами перевізника
				.popup__card-layer.play-and-order-popup__card-layer
					.popup__card.play-and-order-popup__card
						figure.popup__card-boxing.play-and-order-popup__card-boxing
							.popup__card-img-wrapper.play-and-order-popup__card-img-wrapper
								img.popup__card-img.play-and-order-popup__card-img(src="img/cookies-sandwich.png" alt="Cookies box")
							figcaption.popup__card-mass.play-and-order-popup__card-mass
								span
									|3 упаковки
								span
									|* 360 г.
						.popup__card-description.play-and-order-popup__card-description
							p.popup__card-price.play-and-order-popup__card-price
								|99 грн.
							.popup__card-tariff-wrapper.play-and-order-popup__card-tariff-wrapper
								i.ico.box-ico
								p.popup__card-tariff.play-and-order-popup__card-tariff 
									|За тарифами перевізника
				.popup__card-layer.play-and-order-popup__card-layer
					.popup__card.play-and-order-popup__card
						figure.popup__card-boxing.play-and-order-popup__card-boxing
							.popup__card-img-wrapper.play-and-order-popup__card-img-wrapper
								img.popup__card-img.play-and-order-popup__card-img(src="img/box.png" alt="Cookies box")
							figcaption.popup__card-mass.play-and-order-popup__card-mass
								span
									|1 ящик (30 упаковок)
								span
									|* 3,6 кг.
						.popup__card-description.play-and-order-popup__card-description
							p.popup__card-price.play-and-order-popup__card-price
								|855 грн.
							.popup__card-tariff-wrapper.play-and-order-popup__card-tariff-wrapper
								i.ico.box-ico
								p.popup__card-tariff.play-and-order-popup__card-tariff
									span
										|Безкоштовна 
									| доставка 
				.popup__card-layer.play-and-order-popup__card-layer
					.popup__card.play-and-order-popup__card
						figure.popup__card-boxing.play-and-order-popup__card-boxing
							.popup__card-img-wrapper.play-and-order-popup__card-img-wrapper
								img.popup__card-img.play-and-order-popup__card-img(src="img/pallet.png" alt="Pallet")
							figcaption.popup__card-mass.play-and-order-popup__card-mass
								span
									|Піддон
						.popup__card-description.play-and-order-popup__card-description
							p.popup__card-price.play-and-order-popup__card-price
								|
							.popup__card-tariff-wrapper.play-and-order-popup__card-tariff-wrapper
								i.ico.box-ico
								p.popup__card-tariff.play-and-order-popup__card-tariff
									span
										|Безкоштовна 
									| доставка 
			p.popup__note.play-and-order-popup__note
				|* Вага нетто
			.popup__btn-wrapper.play-and-order-popup__btn-wrapper
				a.popup__btn.play-and-order-popup__btn.btn.red-orange.open-popup-link(href="#catalog-popup")
					i.ico.ball-ico
					span
						|Замовляй та грай