<!-- dialog itself, mfp-hide class is required to make dialog hidden -->
#second-branch-popup.popup.second-branch-popup.mfp-hide.zoom-anim-dialog
    .fullpage-popup
        include about-set-popup
        include news-popup
        include delivery-popup
        include delivery-popup-2
        include ./footer-popup
