<!-- dialog itself, mfp-hide class is required to make dialog hidden -->
#second-branch-popup.popup.second-branch-popup.mfp-hide.zoom-anim-dialog
        .close-popup.close-popup-btn.close-popup_secondary
            span
            span
        .fullpage-popup
            include about-set-popup
            include about-set-popup
            include about-set-popup