<!-- dialog itself, mfp-hide class is required to make dialog hidden -->
#video-popup.popup.video-popup.mfp-hide.zoom-anim-dialog.popup_fifth
	a.close-popup.close-popup_secondary.open-popup-link-new(href="#new-popup")
		span
		span
	.popup__layout_fifth.video-popup__layout
		.center