<!-- dialog itself, mfp-hide class is required to make dialog hidden -->
#video-popup.popup.video-popup.mfp-hide.zoom-anim-dialog.popup_fifth
	a.close-popup.close-popup_secondary.open-popup-link-new(href="#new-popup")
		span
		span
	.popup__layout_fifth.video-popup__layout
		.center 
			//- iframe.video-popup__iframe(src="https://www.youtube.com/embed/0O2aH4XLbto" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)